.main {
  display: flex;
  flex-direction: column;

  width: 590px;
  min-height: 595px;

  border: 1px solid #E1E1E1;
  border-radius: 14px;
  background-color: #EFEFF2;
  transition: .2s ease;

  .imageHolder {
    display: flex;
    width: 100%;
    height: 204px;
    
    border-bottom: 1px solid #E1E1E1;
    border-radius: 14px 14px 0 0;
    background-color: #fff;
    color: #BBBBBB;
    
    img {
      object-fit: cover;
      width: 100%;
      padding: 0px;
      border-radius: 14px 14px 0 0;
    }
  }

  .projectDescription {
    display: flex;
    flex-direction: column;
    overflow-wrap: break-word;
    padding: 10px 20px;

    margin: 34px 1.5rem;

    gap: 40px;

    > strong {
      font-weight: 700;
      font-size: 1.5rem;
      margin-bottom: -20px;
    }

    p {
      font-size: .9rem;
      text-align: justify;
      line-height: 150%;
      font-weight: 500;
    }

    span {
      font-size: 1rem;
      font-weight: 700;
      color: #2d2f35;

      strong {
        color: var(--azul-ramo);
        font-size: 1rem;
      }
    }

    .members {
      display: flex;
      flex-wrap: wrap;
      width: 100%;
      gap: 6px;
      font-size: .9rem;

      margin-top: -25px;
  
      .memberHolder {
        display: flex;
        justify-content: center;
        align-items: center;
  
        padding: 3px 1rem;
  
        font-weight: 700;
        border-radius: 50px;
        background-color: var(--azul-ramo);
        color: white;
      }
    }
  }
}

@media (max-width: 1200px) {
  .main {
    width: 500px;
  }
}

@media (max-width: 950px) {
  .main {
    width: 400px;
  }
}

@media (max-width: 740px) {
  .main {
    width: 85vw;
  }
}

@media (max-width: 550px) {
  .main {
    .imageHolder {
      height: 150px;
    }

    .projectDescription {
      > strong {
        font-weight: 700;
        font-size: 1.2rem;
        margin-bottom: -20px;
      }
  
      p {
        font-size: .8rem;
      }
  
      span {
        font-size: .8rem;

        strong {
          font-size: .8rem;
        }
      }
  
      .members {
        gap: 6px;
        font-size: .7rem;
    
        .memberHolder {
          padding: 3px 1rem;
        }
      }
    }
  }
}























.overlay{
  position: absolute;
  align-items: center;
  left: 50%;
  top: 100rem;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .body{
   
    background-color: var(--azul-ramo);
    width: 60rem;
    height: 50rem;
    border-radius: 15px;
    padding: 15px;
    img{
      height: 20rem;
      width: 20rem;
    }
    a{
      float: right;
      img{
        width: 2rem;
        height: 2rem;
      }
      
    }
  }
}