.all {
    display: flex;
    min-height: 100vh;
    background-color: var(--marketing-brackground);
    font-family: 'Poppins', sans-serif;

    input {
        font-family: 'Poppins', sans-serif;
    }
    
    textarea {
        font-family: 'Poppins', sans-serif;
    }

    .pageContent {
        display: flex;
        margin-left: 360px;
        justify-content: flex-start;
        align-items: baseline;
        width: 100%;
        
        .content {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: flex-start;
            flex-direction: column;
            row-gap: 40px;
            padding-bottom: 50px;

            .logoName {
                display: flex;
                column-gap: 30px;
                width: 100%;

                h1 {
                    font-size: 1rem;
                    font-weight: 500;
                }

                .logoHolder {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    white-space: nowrap;

                    input {
                        display: flex;
                        justify-content: center;
                        align-items: center;

                        width: 150px;
                        height: 150px;

                        border-radius: 8px;
                        background-color: var(--contraste);
                        color: white;

                        background-image: url('/camera_icon.svg');
                        background-repeat: no-repeat;
                        background-size: 80px;
                        background-position: center;
                    }
                }

                .nameHolder {
                    display: flex;
                    flex-direction: column;
                    width: 300px;
                    row-gap: 15px;

                    input {
                        margin: none;
                        border-radius: 5px;
                        border: 1px solid #CFCFCF;
                        margin-top: 10px;
                        padding: 13px;
                    }
                }
                
            }

            .description {
                display: flex;
                flex-direction: column;
                width: 100%;

                h1 {
                    font-size: 1rem;
                    font-weight: 500;
                }

                textarea {
                    margin: none;
                    border-radius: 5px;
                    border: 1px solid #CFCFCF;
                    margin-top: 10px;
                    width: 100%;
                    height: 150px;
                    padding: 13px;
                    resize: none;
                }
            }

            .buttonRow {
                display: flex;
                column-gap: 30px;

                .cancel, .edit {
                    padding: 15px 60px;
                    border: 0;
                    border-radius: 5px;
                    background-color: #D5E0EC;
                    color: #0D5FAA;
                    cursor: pointer;
                    transition: .2s ease;
                    font-weight: 600;
                    font-size: 0.8rem;
                  }

                  .cancel:hover, .edit:hover {
                    transform: scale(1.05);
                  }
          
                  .edit {
                    background-color: #0D5FAA;
                    color: white;
                  }
            }
        }
    }
}

@media (max-width: 1000px) {
    .pageContent {
        justify-content: center !important;
        margin-left: 0px !important;

        .content {
            width: fit-content !important;
        }
    }
}

@media (max-width: 600px) {
    .all {
        h1 {
            font-size: 1.5rem;
        }
    }

    .content {
        .logoName {
            column-gap: 25px !important;

            .logoHolder {
                input {
                    width: 130px !important;
                    height: 130px !important;
                    background-size: 75px;
                }
            }

            .nameHolder {
                width: 100% !important;
            }
            
        }
    }
}

@media (max-width: 425px) {
    .content {
        .logoName {
            column-gap: 15px !important;

            .logoHolder {
                input {
                    width: 120px !important;
                    height: 120px !important;
                    background-size: 70px !important;
                }
            }        
        }

        .buttonRow {
            display: flex;
            column-gap: 30px;

            .cancel, .edit {
                padding: 15px 40px !important;
              }
        }
    }
}

@media (max-width: 370px) {
    .content {
        .logoName {
            display: flex;
            column-gap: 30px;
            width: 100%;

            h1 {
                font-size: 0.9rem !important;
            }

            .logoHolder {
                input {
                    width: 110px !important;
                    height: 110px !important;
                    background-size: 60px !important;
                }
            }
        }
    }
}