.container {
    display: flex;
}

#content {
    display: flex;
    flex-direction: column;
    flex: 1;
}

#fieldset {
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 12px;
}

#label{
    margin-left: 2.5rem;
    border: 1px solid red;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-family: Roboto, 'sans-serif';
    font-weight: normal;
    padding: 0.8rem 3.5rem;
    font-size: 1.6rem;
}

/* Input Section */

#inputLabel {
    font-family: Roboto, 'sans-serif';   
    font-weight: normal;
    font-size: 1.7rem;
}

#input {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border: none;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.imageCard {
    height: 150px;
    width: 140px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

.imageCard p {
    margin-left: 10px;
    font-family: Poppins;
    font-size: 0.8rem;
}

.imageCard input[type=file] {
    display: none;
}

.newImage {
    background-color: #fff;
    width: 120px;
    height: 84px;
    margin: 10px 10px;

    border: 1px solid #C7B8B8;
    box-sizing: border-box;
    border-radius: 10px;

    position: relative;
}

.newImage:hover {
    cursor: pointer;
}

.cross1 {
    position: absolute;
    top: 17px;
    left:60px;
    height: 50px;
    width: 1.5px;
    background-color: rgba(211, 194, 194, 0.9);
    Z-index: 1;
}

.cross2 {
    position: absolute;
    left:35px;
    top: 42px;
    height: 1.5px;
    width: 50px;
    background-color: rgba(211, 194, 194, 0.9);
    Z-index: 1;
}



/* Buttons Section */

#btnContainer {
    display: flex;
    justify-content: flex-end;
    padding: 0 2rem;
}

#btnContainer p {
    font-family: Poppins;
    font-size: 1.2rem;
    color: white;
    
}

#cancelBtn {
    background-color: #828282;
    border-radius: 7px;
    padding: 5px 10px;
    border: none;
}

#saveBtn {
    background: #0D5FAA;
    border-radius: 7px;
    padding: 5px 10px;
    margin-left: 15px;
    border: none;
}