@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

.all {
  width: 100%;
  min-width: 900px;
  font-family: "Poppins";

  .apresentation {
    display: flex;
    justify-content: space-between;
    width: 100vw;

    padding: 7rem 0;

    .descrição {
      display: flex;
      flex-direction: column;
      width: 100%;
   
      margin-left: 7rem;
      margin-right: 10rem;
      
      overflow-y: hidden;
      
      h1 {
        margin-bottom: 2rem;
        letter-spacing: 2px;
        font-weight: 700;
        color: var(--azul-ramo);
        font-size: 40px;
      }

      p {
        font-weight: 500;
        font-size: 15px;
        color: var(--azul-ramo);
        text-align: justify;
      }
    }
    
    .allcarousel {
      display: flex;
      padding: 0 100px;
      justify-content: center;
      flex-direction: column;
      width: 700px;
      height: 550px;
      
      background-color: var(--azul-ramo);
      border-radius: 60px 0 0 60px;     
      
      .slider {
        margin-bottom: 70px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;

        :nth-child(2) {
          margin-bottom: -70px;
        }
      }
      
      .current {
        opacity: 1;
        transition: transform 300ms ease-in-out;
      }

      .none {
        opacity: 0;
        transition: transform 300ms ease-in-out;
      }

      .crewLabel {
        text-align: center;
        font-size: 1.5rem;
        font-weight: 700;
        color: white;
        margin-top: 50px;
      }

      h1 {
        text-align: center;
        font-weight: 700;
        font-size: 2.5rem;
        color: white;
      }
     
      h2 {
        text-align: center;
        margin-bottom: 3rem;
        font-weight: 700;
        font-size: 1.8rem;
        color: white;
      }
    }
  }

  .projetos {
    display: flex;
    justify-content: space-evenly;

    width: 100%;

    padding: 7rem 0;
    margin-top: 3rem;
    margin-bottom: -3rem;

    background-color: #F6F8FA;

    .leftcontainer {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;

      h1{
        color: var(--azul-ramo);
        font-size: 2.5rem;   
      }
    }

    .rightcontainer {
      display: flex;

      width: 590px;
      height: 595px;

      border-radius: 14px;
      background-color: #F2F3F4;
    }
  }

  .premiosGeral {
    margin-top: 3rem;
    margin-bottom: 50px;
    
    h1 {
      color: var(--azul-ramo);
      font-weight: 700;
      font-size: 45px;
      text-align: center;
      margin-top: 100px;
    }
    
    span {
      color: var(--azul-ramo);
      font-weight: 700;
      font-size: 45px;
      text-align: center;
    }

    .premios {
      margin-top: 4rem;
      margin-left: 5rem;

      h1 {
        font-size: 35px;
        margin-left: 3rem ;
      }
      
    }
  }
}