@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

@keyframes carouselChange {
  from {
    right: 0px;
  }
  
  to {
    right: 200px;
  }
}

.all {
  width: 100%;
  min-width: 900px;
  font-family: "Poppins";

  .apresentation {
    display: flex;
    justify-content: space-between;
    width: 100vw;

    padding: 7rem 0;

    .descrição {
      display: flex;
      flex-direction: column;
      width: 100%;
   
      margin-left: 7rem;
      margin-right: 10rem;
      
      overflow-y: hidden;
      
      h1 {
        margin-bottom: 2rem;
        letter-spacing: 2px;
        font-weight: 700;
        color: var(--azul-ramo);
        font-size: 40px;
      }

      p {
        font-weight: 500;
        font-size: 15px;
        color: var(--azul-ramo);
        text-align: justify;
      }
    }
    
    .carouselContainer {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 70px 70px 70px 80px;
      height: 100%;
      
      background-color: var(--azul-ramo);
      border-radius: 60px 0 0 60px;     
      
      h2 {
        text-align: center;
        margin-bottom: 3rem;
        font-weight: 700;
        font-size: 1.8rem;
        color: #fff;
      }
      
      .carousel {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 90px;

        .imagesCarouselContainer {
          width: 200px;
          gap: 20px;

          img {
            min-width: 200px;
          }
          
          display: flex;
          overflow: hidden;

          .currentImage {
            position: relative;
            right: 220px;
            transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          }
          
          .previousImage {
            position: relative;
            right: 220px;
            transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          }
          
          .nextImage {
            position: relative;
            right: 220px;
            transition: transform 0.5s cubic-bezier(0.76, 0, 0.24, 1);
          }
        }
        
        .crewSelected {
          p {
            text-align: center;
            font-size: 1.5rem;
            font-weight: 600;
            color: #fff;
            margin-top: 50px;
          }
        }
      }
    }
  }

  .projetos {
    display: flex;
    justify-content: space-evenly;

    width: 100%;

    padding: 7rem 0;
    margin-top: 3rem;
    margin-bottom: -3rem;

    background-color: #F6F8FA;

    .leftcontainer {
      display: flex;
      flex-direction: column;
      row-gap: 2rem;

      .crewproject {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
      }

      h1{
        color: var(--azul-ramo);
        font-size: 2.5rem;   
      }
    }
  }

  .premiosGeral {
    margin-top: 3rem;
    margin-bottom: 50px;
    
    h1 {
      color: var(--azul-ramo);
      font-weight: 700;
      font-size: 45px;
      text-align: center;
      margin-top: 100px;
    }
    
    span {
      color: var(--azul-ramo);
      font-weight: 700;
      font-size: 45px;
      text-align: center;
    }

    .premios {
      margin-top: 4rem;
      margin-left: 5rem;

      h1 {
        font-size: 35px;
        margin-left: 3rem ;
      }
    }
  }
}