* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --azul-ramo: #0D5FAA;
  --contraste: #0574BC;
  --titulos: #43ACF0;
  --wie:#7349c6;
  --wie-trasition: #c6547c;
  --logo-trasition: #04213b;
  --button-trasition: #0a467a;
  --marketing-brackground: #F4F4F6;
  --gray: #333333;
}

body {
  background-color: #FFFFFF;
  min-width: 100vw;
  overflow-x: hidden;
}

label {
  display: inline-block;
}

 /* width */
::-webkit-scrollbar {
  width: 11px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px #a5a5a5;
  
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #c4c4c4;
}