* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


:root {
  --azul-ramo: #0D5FAA;
  --contraste: #0574BC;
  --titulos: #43ACF0;
  --wie:#7349c6;
  --wie-trasition: #c6547c;
  --logo_trasition: #0E1354;
}

body {
  background-color: #FFFFFF;
}