#container {
    width: 100vw;
}

.wolfImageContainer {
    position: absolute;
    top: 40%;
    right: 14%;
}

#page_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    min-width: 900px;
    font-family: 'Poppins';
    background-image: url("../../public/Background_Logos.svg");
    background-size: contain;
}

#text_container {
    display: flex;
    flex-direction: row;
    color: var(--azul-ramo);
    margin: 0 12% 15px 12%;
    height: auto;
    max-width: 1100px;

    h1 {
        font-size: 2rem;
        grid-column-start: 2;
        grid-row-start: 1;
        padding: 5rem 0 0 0;
        text-shadow: 0.05em 0.1em #ccc;
        font-weight: 800;
        text-align: left;
    }

    p {
        font-size: 1rem;
        grid-column-start: 2;
        text-indent: 3rem;
        font-weight: 600;
    }

    #ourStory {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        min-width: 600px;
        padding-top: 4rem;
        margin-right: 30px;

        p {
            padding: 1rem 0 10rem 0;
            text-align: justify;
        }
    }

    #main_container {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        #button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--azul-ramo);
            width: 13rem;
            height: 4rem;
            border-radius: 10px;
            margin-bottom: 10%;
            margin-right: 90px;
            text-decoration: none;
            transition: background-color .2s ease;

            
            p {
                text-indent: 0;
                margin: 0 1rem 0 0;
                color: white;
            }
        }
        
        #button:hover {
            background-color: var(--button-trasition);
            cursor: pointer;
        }
    }

    @media(max-width:1300px){
        height: auto;
    }
}

.crew_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 5rem 0 8rem 0;
    margin-top: -1rem;
    
    background-color: #0D5FAA;

    .logo_content { 
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
    }
    
    h3 {
        margin: 0 0 4rem 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 40px;
        color: #FFFFFF;
        text-shadow: 1px 5px 5px rgba(0, 0, 0, 0.25);
        width: 100%;
        max-width: 1112px;
    }
}

.parcerias {  
    display: flex;
    flex-direction: column;
    height: auto;
    width: 100vw;
    padding: 5rem 130px 10rem 130px;
    // align-items: center;

    h3 {
        // align-self: baseline;
        margin: 0 0 5rem 0;
        color: #0876BE;

        font-size: 40px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
    }
    
    .partnerGrid {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        align-items: center;
        justify-self: center;
        align-self: center;
        gap: 25px 0;
        width: 90%;
    }
}

.rotate {
    margin-top: -1px;
    transform: rotateX(180deg);
}