.container {
    width: 100vw;
}

.wolfImageContainer {
    position: absolute;
    top: 40%;
    right: 14%;
}

@media (max-width: 1000px) {
    .wolfImageContainer {
        display: none;
    }

    .text_container {
        height: 100vh;
    }
}

.page_container {
    display: flex;
    width: 100%;
    min-width: 330px;
    flex-direction: column;
    align-items: center;
    height: auto;
    font-family: 'Poppins';
    background-image: url("../../public/Background_Logos.svg");
    background-size: contain;
}

.text_container {
    display: flex;
    flex-direction: row;
    color: var(--azul-ramo);
    margin: 0 12% 0px 12%;
    height: auto;
    max-width: 1100px;

    h1 {
        font-size: 2rem;
        grid-column-start: 2;
        grid-row-start: 1;
        padding: 5rem 0 0 0;
        font-weight: 800;
        text-align: left;
    }

    p {
        font-size: 1rem;
        grid-column-start: 2;
        text-indent: 3rem;
        font-weight: 600;
    }

    .ourStory {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        min-width: 600px;
        padding-top: 4rem;
        margin-right: 30px;

        p {
            padding: 1rem 0 10rem 0;
            text-align: justify;
        }
    }

    .main_container {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;

        .button {
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: var(--azul-ramo);
            width: 13rem;
            height: 4rem;
            border-radius: 10px;
            margin-bottom: 10%;
            margin-right: 90px;
            text-decoration: none;
            transition: background-color .2s ease;


            p {
                text-indent: 0;
                margin: 0 1rem 0 0;
                color: white;
            }
        }

        .button:hover {
            background-color: var(--button-trasition);
            cursor: pointer;
        }
    }

    @media(max-width:1300px){
        height: auto;
    }
}

@media(max-width: 1000px){
    .text_container {
        flex-direction: column;
        padding-bottom: 100px;

        .ourStory {
            padding-top: 0px;
            width: 100%;
            min-width: 0px;

            p {
                padding-bottom: 25px;
            }
        }

        .main_container {
            margin-top: 20px;
            flex-direction: row;
            justify-content: flex-end;

            .button {
                margin-right: 0px;
            }
        }
    }
}

@media (max-width: 650px) {
    .page_container {
        h1, h3 {
            text-align: center;
            font-size: 2rem;
        }

        > img {
            margin-bottom: 10px;
        }

        .text_container {
            flex-direction: column;
            padding-bottom: 100px;

            .ourStory {
                justify-content: center;
                padding-top: 0px;
                width: 100%;
                min-width: 0px;

                p {
                    font-size: 0.9rem;
                }
            }

            .main_container {
                margin-top: 20px;
                flex-direction: row;
                justify-content: center;

                .button {
                    margin-right: 0px;
                    margin-bottom: 0px;
                }
            }
        }
    }
}

@media (max-width: 500px) {
    .page_container {
        h1, h3 {
            text-align: center;
            font-size: 1.5rem;
        }
    }

    .text_container {
        .main_container {
            .button {
                p {
                    font-size: .8rem;
                }
            }
        }
    }
}

.sponsors {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 4rem;
    margin-bottom: 5rem;
    // background: wheat;
    
    .swiper {
        width: 100%;
        height: 100%;
        // background: tomato;
        max-width: 1100px;
        margin: 0 12%;
        
        .swiper_slide {
            width: fit-content;
            display: flex;
            justify-content: center;
            align-items: center;

            
            @media (max-width: 600px) {
                img {
                    height: 60%;
                }

                #squair_logo {
                    height: 40%;
                }
            }
        }
    }
}

.crew_content {
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;
    padding: 6rem 0 8rem 0;

    background-color: #0D5FAA;

    .logo_content {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        gap: 24px;
    }

    h3 {
        margin: 0 0 4rem 0px;
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 2rem;
        color: #FFFFFF;
        width: 100%;
        max-width: 1112px;
    }
}

@media (max-width: 1200px) {
    .crew_content {
        .logo_content {
            grid-template-columns: 1fr 1fr 1fr;
        }
    }
}

@media (max-width: 900px) {
    .crew_content {
        .logo_content {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 600px) {
    .crew_content {
        .logo_content {
            grid-template-columns: 1fr 1fr;
        }
    }
}

@media (max-width: 400px) {
    .crew_content {
        h3 {
            font-size: 1.875rem;
        }

        .logo_content {
            gap: 10px;
        }
    }
}