#page_container {
    height: 100rem;
    font-family: 'Poppins';
}

#text_container {
    background-image: url("../../public/BG_Logos.svg");
    display: flex;
    flex-direction: row;
    color: var(--azul-ramo);
    margin: 0 12% 15px 12%;

    h1 {
        font-size: 3rem;
        grid-column-start: 2;
        grid-row-start: 1;
        margin: 10rem 0 0 0;
        text-shadow: 0.05em 0.1em #ccc;
        font-weight: 800;
        text-align: center;
    }

    p {
        font-size: 1.063rem;
        grid-column-start: 2;
        text-indent: 3rem;
        font-weight: 600;
    }

    #ourStory {
        display: flex;
        flex: 1;
        flex-direction: column;
    }

    #main_container {
        display: flex;
        flex: 1;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;



        #icon {
            position: absolute;
            top: 60px;
        }

        #button {
            display: flex;
            //align-items: space-between;
            justify-content: space-between;
            background-color: #0D5FAA;
            width: 13rem;
            height: 5rem;
            border-radius: 2.5rem;
            text-decoration: none;
            margin-bottom: 10%;
        }

        #button:hover {
            cursor: pointer;
        }

    }


}

.crew_content {
    padding-left: 13rem;
    height: 53.75rem;
    background-color: #0D5FAA;
    display: grid;
    grid-template-rows: repeat(3, minmax(250px, 1fr));

    img {
        height: 25rem;
        margin-left: -2rem;

    }

    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        font-size: 3rem;
        color: #FFFFFF;
        text-shadow: 2px 6px 2px rgba(0, 0, 0, 0.25);
    }
}

.parcerias {
    height: 25.813rem;
    display: grid;
    grid-row: 1;

    h3 {
        font-family: 'Poppins', sans-serif;
        font-weight: 800;
        color: #0876BE;
        font-size: 3rem;
        display: block;
    }

    a {
        float: left;
    }
}