.all {
  display: flex;
  font-family: 'Poppins', sans-serif;
  min-height: 100vh;
  background-color: var(--marketing-brackground);
  overflow-y: auto;
  
  .pageContent {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-left: 280px;
    background: url("../../public/pse_formulario.svg") no-repeat;
    background-clip: content-box;
    background-size: 500px 600px;
    background-position: right bottom;

    @media (max-width: 1184px) {
      background-size: 400px 500px;
    }

    @media (max-width: 1080px) {
      background: url("") no-repeat;
    }
    
    @media (max-width: 920px) {
      align-items: flex-start;
      margin-left: 350px;
    }

    .menuRoutes {
      display: flex;
      width: 80%;
      min-width: 510px;
    }
    
    .content {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 50px 0;

      width: 80%;
      min-width: 510px;
      min-height: 80vh;
      
      
      h1 {
        font-weight: 800;
        font-size: 1.8rem;
        margin-bottom: 15px;
      }
      
      p {
        font-size: 1.1rem;
        max-width: 500px;
        margin-bottom: 30px;
        font-weight: 400;
        line-height: 135%;
      }
    }
  }
}