.all {
    display: flex;
    font-family: 'Poppins';
    max-height: 100vh;

    .pageContent {
        display: flex;
        justify-content: center;

        width: 100%;
        background-color: #E2E2E7;

        .content {
            display: flex;
            flex-direction: column;
            align-items: center;

            width: 80%;
            margin-top: 200px;
            row-gap: 40px;

            .row {
                display: flex;
                justify-content: space-between;
                width: 100%;

                h1 {
                    font-size: 1.6rem;
                    font-weight: 500;
                }

                p {
                    font-size: 1rem;
                }

                .link {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    column-gap: 10px;
                    padding: 0px 40px;
                    border: 0;
                    border-radius: 12px;
                    color: white;
                    background-color: var(--azul-ramo);
                    font-size: 1.25rem;
                    cursor: pointer;
                }

                .link:hover {
                    transform: scale(1.05);
                    transition: .2s ease;
                }
            }

            .crewsList {
                display: flex;
                flex-direction: column;
                overflow-y: scroll;

                width: 100%;

                .crewRow {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding: 20px 0;
                    padding-right: 30px;
                    width: 100%;
                    border-top: 2px solid lightgray;

                    .name {
                        display: flex;
                        align-items: center;
                        column-gap: 35px;

                        img {
                            padding: 10px;
                            border-radius: 12px;
                            background-color: rgb(50, 50, 50);
                            max-height: 90px;
                        }
    
                        h2 {
                            justify-self: start;
                            font-size: 1.25rem;
                            font-weight: 500;
                        }
                    }

                    span {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 15px;
                        border: 0;
                        border-radius: 12px;
                        color: white;
                        background-color: var(--azul-ramo);
                        font-size: 2rem;
                        cursor: pointer;
                    }
    
                    span:hover {
                        transform: scale(1.05);
                        transition: .2s ease;
                    }
                }
            }
        }
    }
}