#pageContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: url("../../public/pse-image.svg") no-repeat;
    background-position: right top;

    @media (max-width: 1360px) {
        background-position: 530px top;
    }

    @media (max-width: 830px) {
        background: url("../../public/pse-image-full.svg") no-repeat;
        background-size: 768px;
        background-position: center 440px;
    }
    
    @media (max-width: 600px) {
        background-size: 600px;
    }
    
    @media (max-width: 505px) {
        background-position: center 400px;
    }

    .introductionContainer {
        width: 100vw;
        max-width: 1700px;
    }
    
    .introduction {
        font-family: "Poppins", sans-serif;
        padding: 0 7rem;
        display: flex;
        height: calc(100vh - 109px);
        min-height: 700px;
        align-items: center;
        max-height: 800px;
        max-width: 1100px;

        @media (max-width: 830px) {
            align-items: baseline;
            padding: 0 1rem;
            padding-top: 170px;
            justify-content: center;
            min-height: 980px;
        }
        
        @media (max-width: 600px) {
            padding-top: 110px;
        }
        
        @media (max-width: 505px) {
            min-height: 920px;
        }
        
        .descriptionContainer {
            margin-top: -50px;
            display: flex;
            flex-direction: column;
            gap: 30px;
            max-width: 40vw;
            color: var(--azul-ramo);
            
            h1 {
                font-size: 2.5rem;
                min-width: 500px;
            }
            
            p {
                line-height: 27px;
                font-weight: 500;
                font-size: 1.2rem;
                text-align: justify;
                max-width: 680px;
                min-width: 500px;
            }
            
            button {
                font-family: "Poppins", sans-serif;
                width: fit-content;
                background-color: var(--azul-ramo);
                border-radius: 25px;
                color: #FFFFFF;
                font-weight: 500;
                border: none;
                font-size: 16px;
                padding: 1.5rem 2rem;
                transition: .2s ease;
                text-decoration: none;
                cursor: pointer;
            }

            button:hover {
                background-color: var(--button-trasition);
            }

            @media (max-width: 830px) {
                align-items: center;
                max-width: 80vw;
                
                h1 {
                    text-align: center;
                    max-width: 500px;
                }

                p {
                    text-align: justify;
                    max-width: 500px;
                }
                
                button {
                    margin-top: 10px;
                }
            }
            
            @media (max-width: 600px) {
                width: 70vw;
                
                h1 {
                    font-size: 2rem;
                    min-width: 400px;
                }
                
                p {
                    font-size: 1rem;
                    width: 100%;
                    max-width: 500px;
                    min-width: 400px;
                }
            }

            @media (max-width: 505px) {
                h1 {
                    font-size: 1.5rem;
                    min-width: 0;
                }
                
                p {
                    font-size: 0.85rem;
                    min-width: 0px;
                }

                button {
                    font-size: 0.8rem;
                }
            }
        }

        #imageContainer {
            display: flex;
            justify-content: center;
            align-items: center;
            position: absolute;
            right: 0;
        
            img {
                margin-top: 60px;
                margin-right: 10px;
                height: 600px;
            }
        }
    }

    #steps {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        
        row-gap: 80px;
        
        width: 100%;
        margin-bottom: 100px;
        color: var(--azul-ramo);
        font-family: Poppins;
        
        h2 {
            font-style: normal;
            font-weight: bold;
            font-size: 2.5rem;
        }

        @media (max-width: 830px) {
            padding-top: 100px;
            
            h2 {
                text-align: center;
                font-size: 2rem;
            }
        }

        
        @media (max-width: 700px) {
            h2 {
                max-width: 90vw;
            }
        }

        @media (max-width: 600px) {
            padding-top: 50px;
        }

        @media (max-width: 505px) {
            padding-top: 0px;
            
            h2 {
                font-size: 1.5rem;
            }
        }
        
        #stepsContainer {
            display: flex;
            flex-direction: column;
            width: 80vw;
            max-width: 1400px;
            background: tomato;
            
            @media (max-width: 910px) {
                width: 90vw;
            }

            @media (max-width: 875px) {
                width: 95vw;
            }

            .oddSteps, .evenSteps {
                display: flex;

                padding: 0 180px;
                
                @media (max-width: 1225px) {
                    padding: 0 130px;
                }

                @media (max-width: 1145px) {
                    padding: 0 100px;
                }

                @media (max-width: 1060px) {
                    padding: 0 80px;
                }

                @media (max-width: 920px) {
                    padding: 0 50px;
                }

                @media (max-width: 670px) {
                    padding: 30px 50px;
                }

                @media (max-width: 505px) {
                    padding: 20px 30px;
                }

                .numberStep {
                    font-weight: bold;
                    font-size: 10rem;
                    margin-right: 50px;

                    @media (max-width: 740px) {
                        font-size: 8rem;
                    }

                    @media (max-width: 920px) {
                        margin-right: 40px;
                    }

                    @media (max-width: 505px) {
                        font-size: 5rem;
                    }

                    @media (max-width: 505px) {
                        margin-right: 20px;
                    }
                }
                
                .stepDetail {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    padding: 1rem 0;
                    row-gap: 3px;

                    h3 {                 
                        font-size: 1.75rem;
                    }
                    
                    p {    
                        font-size: 1rem;
                        font-weight: 500;
                    }
                    
                    @media (max-width: 740px) {
                        h3 {
                            font-size: 1.5rem;
                        }
                        
                        p {
                            font-size: 0.9rem;
                        }
                    }

                    @media (max-width: 505px) {
                        h3 {
                            font-size: 1.2rem;
                        }
                        
                        p {
                            font-size: 0.75rem;
                        }
                    }
                }
            }

            .oddSteps {
                background-color: var(--azul-ramo);
                color: #fff;
            }

            .evenSteps {
                background-color: #f5f5f5;
            }
        }   

        #warning {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            margin-top: 35px;

            h3 {
                font-size: 1.6rem;
                padding: 5px 15px;
                background: rgba(67, 172, 240, 0.33);
                border-radius: 18px;
                margin-bottom: 4px;
            }

            p {
                font-size: 1.2rem;
                font-weight: 500;
                margin-top: 1rem;
            }

            @media (max-width: 740px) {
                margin-top: 10px;

                h3 {
                    font-size: 1.2rem;
                }

                p {
                    font-size: 1rem;
                }
            }

            @media (max-width: 650px) {
                p {
                    text-align: center;
                    width: 80vw;
                }
            }

            @media (max-width: 505px) {
                margin-top: 0;

                h3 {
                    font-size: 1rem;
                }

                p {
                    width: 70vw;
                    font-size: .85rem;
                }
            }
        }
    }

    .registerContainer {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100vw;
        margin-bottom: 150px;
        margin-top: 80px;
        max-width: 1400px;

        @media (max-width: 740px) {
            margin-top: 40px;
        }
        
        @media (max-width: 505px) {
            margin-top: 0px;
        }

        @media (max-width: 480px) {
            margin-bottom: 80px;
            margin-top: -35px;
        }
        
        .register {
            display: flex;
            width: 80vw;
            background: var(--azul-ramo);

            @media (max-width: 980px) {
                width: 90vw;
            }

            @media (max-width: 875px) {
                width: 95vw;
            }

            .whiteSpace {
                background: url("../../public/pessoas_trabalhando.svg") no-repeat;
                background-position: left center;
                min-width: 590px;
                margin: -80px 0px -80px -100px;
                
                @media (max-width: 800px) {
                    background-position: -80px center;
                    min-width: 500px;
                }

                @media (max-width: 705px) {
                    background-position: -150px center;
                    min-width: 440px;
                }

                @media (max-width: 660px) {
                    background-position: -200px center;
                    min-width: 329px;
                }
                
                @media (max-width: 520px) {
                    background-position: -90px center;
                    background-size: 400px;
                    margin: -65px 0px -65px -100px;
                }
                
                @media (max-width: 480px) {
                    min-width: 0;
                    width: 0;
                    background-image: none;
                    margin: 0;
                }
            }
            
            .joinContainer {
                display: flex;
                flex: 1;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                justify-self: center;
                
                padding: 70px 0;
                font-family: Poppins;
                color: white;
                width: 100%;
                
                span {
                    text-align: center;
                    font-size: 1.8rem;
                    font-weight: bold;
                    margin-bottom: 15px;
                    max-width: 210px;
                }

                button {
                    max-width: 210px;
                    font-family: 'Poppins', sans-serif;
                    font-size: 1.2rem;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 100%;
                    padding: 20px 0;
                    border: none;
                    background-color: #1386D0;
                    border-radius: 10px;
                    color: white;      
                    cursor: pointer;     
                    transition: .2s ease;
                    
                    &:hover {
                        background-color: #0270b8;
                    }
                }

                @media (max-width: 740px) {
                    span {
                        font-size: 1.4rem;
                    }

                    button {
                        font-size: 1rem;
                        width: 160px;
                    }
                }

                @media (max-width: 520px) {
                    padding: 40px 0;
                }

                @media (max-width: 505px) {
                    span {
                        max-width: 150px;
                        font-size: 1rem;
                    }

                    button {
                        font-size: .85rem;
                        width: 160px;
                    }
                }
            }
        }
    }
}