.pageContainer {
  min-height: 100vh;
  background: #eee;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height: 100vh;
  padding: 0 7rem;
  padding-bottom: 100px;
  
  font-family: 'Poppins', sans-serif;
  background: url("../../public/fundo-pse-formulario.svg") no-repeat;
  background-position: left top;
  background-clip: border-box;
  background-size: 75%;

  @media (min-height: 890px) {
    background-size: contain;
  }

  @media (min-width: 1300px) {
    background-size: 950px;
  }

  h1 {
    display: flex;
    font-weight: 700;
    color: #fff;
    font-size: 1.6rem;
  }

  p {
    font-weight: 300;
    color: #fff;  
  }

  strong {
    color: rgb(255, 55, 55);
  }

  .message {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px 0;
    padding: 10px 10px;

    border-radius: 8px;
    column-gap: 15px;
    font-size: 3.125rem;
    background-color: #C8E2FC;
    max-width: 500px;

    svg {
      color: #79808F;
    }

    p {
      font-size: 0.7rem;
      font-weight: 500;
      color: #0D5FAA;
    }
  }
  
  .pageContent {
    display: flex;
    justify-content: space-between;

    input {
      margin: none;
      border-radius: 5px;
      border: 1px solid #CFCFCF;
      margin-top: 10px;
      width: 100%;
      padding: 13px;

      &::placeholder {
        color: #8B8B8B;
      }
    }

    .leftSide {
      display: flex;
      flex-direction: column;
      width: fit-content;

      .mainForm {
        display: flex;
        flex-direction: column;
        width: 500px;

        .nameInputs {
          display: flex;
          justify-content: space-between;
          column-gap: 10px;
        }

        .addressInput {
          margin-top: 15px;
        }

        span {
          margin-top: 15px;
          font-size: 0.9rem;
          font-weight: 600;
          color: #fff;

          &:first-child {
            margin-top: 0;
          }
        }
      }
    }

    .rightSide {
      display: flex;
      flex-direction: column;
      margin-left: 100px;
      width: fit-content;
      gap: 10px;

      span {
        margin-top: 15px;
        font-size: 0.8rem;
        font-weight: 500;
        color: #000;

        &:first-child {
          margin-top: 0;
        }
      }

      .buttonsHolder {
        display: flex;
        justify-content: space-between;
        column-gap: 180px;

        margin-top: 25px;

        .cancel, .prox {
          padding: 15px 60px;
          border: 1px solid #0D5FAA;
          border-radius: 5px;
          background-color: transparent;
          color: #0D5FAA;
          cursor: pointer;
          transition: .2s ease;
          font-weight: 600;
          font-size: 0.8rem;
        }

        .cancel:hover, .prox:hover {
          transform: scale(1.05);
        }

        .prox {
          background-color: #0D5FAA;
          color: white;
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .holderResponsive {
      display: flex;
      flex-direction: column;
      width: fit-content;
      align-self: center;

      .pageContent {
        flex-direction: column;
        align-items: center;
  
        .leftSide {
          width: 500px;
        }
    
        .rightSide {
          width: 500px;
          margin-top: 20px;
          margin-left: 0px;
  
          span {
            font-size: 0.9rem;
            font-weight: 600;
            color: #fff;
          }

          .buttonsHolder {
            column-gap: 0px;
            .cancel {
              border: 1px solid #fff !important;
              color: white !important;
            }
    
            .prox {
              background-color: #0574BC !important;
              color: white;
            }
          }
        }
      }
    }
  }

  @media (max-width: 570px) {
    p {
      display: flex;
    }
    
    .pageContent {
      .leftSide {
        width: 100% !important;
  
        .mainForm {
          flex-direction: column;
          width: 100% !important;
  
          .nameInputs {
            flex-direction: column;
          }
        }
      }
  
      .rightSide {
        width: 100% !important;
  
        .cancel {
          border: 1px solid #fff !important;
          color: white !important;
        }
  
        .prox {
          background-color: #0574BC !important;
          color: white;
        }
      }
    }
  }

  @media (max-width: 425px) {
    .buttonsHolder {
      .cancel, .prox {
        padding: 15px 40px !important;
        font-size: 0.8rem;
      }
    }
  }

  @media (max-width: 350px) {
    .buttonsHolder {
      .cancel, .prox {
        padding: 15px 30px !important;
        font-size: 0.8rem;
      }
    }
  }
}

@media (max-width: 1200px) {
  .container {
    padding: 0px;
  }

  .pageContainer {
    background: #0D5FAA;
    .container {
      align-items: center;
      width: 100%;
      padding-bottom: 50px;
    }
  }
}

@media (max-width: 570px) {
  .holderResponsive {
    padding: 0 30px;
    .pageContent {
      input {
        width: 100% !important;
      }
    }
  }
}