.main { 
    font-family: "Poppins";
    width: 100vw;
    
    /* ----- Banner da foto dos membros ----- */
    .banner {
        margin-top: -3%;
        background-image: url("../../public/RG_auto_x2.jpg");
        height: 60vh;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;

        @media (max-width: 680px) {
            position: relative;
            border-radius: 0 0 50px 50px;
            margin-bottom: -50px;
            height: 45vh;
        }

        @media (max-width: 640px) {
            height: 40vh;
            margin-top: -5%;
        }
    }
    /* ----- Sobre o ramo ----- */
    .about {        
        padding: 5rem 0;
        color: white;
        background-color: var(--azul-ramo);
        background-image: url(../../public/Ramo_cinza.svg);
        background-size: 40%;
        background-repeat: no-repeat;
        background-position: 120% 130%;

        @media (max-width: 680px) {
            padding: 8rem 0;
        }

        /* ----- Container ----- */
        .aboutContainer {
            min-width: 1050px;
            max-width: 1100px;
            margin: 0 auto;
            display: flex;
            align-items: center;
            justify-content: center;
            column-gap: 100px;
            padding: 30px 0 50px;

            @media (max-width: 1240px) {
                max-width: 1000px;
            }

            @media (max-width: 1100px) {
                column-gap: 50px;
            }

            @media (max-width: 1050px) {
                flex-direction: column;
                max-width: 1050px;
                min-width: 0px;
            }
        }


        h1, h2 {
            font-size: 2rem;
            margin-bottom: 1.2rem;
        }

        p {
            font-size: .95rem;
            margin-bottom: 1rem;
            text-align: justify;
        }

        @media (max-width: 640px) {
            p {
                font-size: 0.9rem;
            }
        }
        
        /* ----- Subcontainers ----- */
        .aboutLeftContainer,
        .aboutRightContainer {
            width: 45%;
            
            @media (max-width: 1050px) {
                width: 80%;
            }
        }

        /* ----- Container esquerdo ----- */
        .aboutLeftContainer {

            /* O que é o ramo */
            article:first-child {
                margin-bottom: 4rem;
                position: relative;
            }

            /* Nossa família */
            article:last-child {
                position: relative;

                .familyPicture {
                    padding: 8%;
                    background-image: url("../../public/about_img_border.svg");
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    margin-bottom: 1rem;

                    img {
                        width: 100%;
                        border-radius: 0.8rem;
                    }
                    
                    @media (max-width: 1050px) {
                        display: flex;
                        justify-content: center;

                        padding: 5%;

                        img {
                            width: 80%;
                        }
                    }

                    @media (max-width: 680px) {
                        background-image: none;
                        padding: 0;

                        img {
                            object-fit: cover;
                            height: 250px;
                            width: 100%;
                        }
                    }
                }
            }
            
        }

        /*---- Container Direito ----*/
        .aboutRightContainer {
            margin-top: 50px;

            @media (max-width: 1050px) {
                margin-top: 50px;
            }
        }
    }

    /* ----- Nossos valores ----- */
    .ourValues {
        display: grid;
        width: 100%;
        min-width: 1000px;
        padding: 2rem;
        margin-top: 6rem;

        h2 {
            font-size: 2rem;
            text-align: center;
            color: var(--azul-ramo);
            margin-bottom: 3rem;
        }

        .valuesContainer {
            display: grid;
            justify-self: center;
            justify-items: center;

            grid-template-columns: 1fr 1fr 1fr;
            
            column-gap: 30px;
            row-gap: 30px;

            @media (max-width: 1100px) {
                grid-template-columns: 1fr 1fr;
            }

            @media (max-width: 530px) {
                grid-template-columns: 1fr;
            }
        }

        @media (max-width: 1000px) {
            min-width: 0px;
        }

        @media (max-width: 758px) {
            padding: 0;

            .valuesContainer {
                column-gap: 0px;
                row-gap: 18px;
            }
        }

        @media (max-width: 530px) {            
            .valuesContainer {
                column-gap: 10px;
                row-gap: 10px;
            }
        }
    }

    /* ----- Nossa missão ----- */
    .mission {
        background: var(--azul-ramo);
        width: 100vw;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 96px;
        padding-top: 90px;

        background-image: url(../../public/Ramo_cinza_cortado.svg);
        background-size: contain;
        background-repeat: no-repeat;
        background-position: left bottom;
        background-origin: content-box;

        div {
            margin-bottom: 90px;
            width: 220px;
            height: 220px;
        }

        article {
            margin-left: 60px;
            width: 305px;
            margin-top: -90px;
        }

        span {
            font-weight: 700;
            font-size: 2rem;
            color: #fff;
        }
        
        p {
            font-weight: 400;
            font-size: .9rem;
            color: #fff;
            text-align: justify;
        }

        @media (max-width: 720px) {
            div {
                width: 170px;
                height: 170px;
            }

            article {
                margin-left: 40px;
                width: 260px;
            }
        }

        @media (max-width: 530px) {
            height: 350px;

            img {
                height: 100px;
            }

            div {
                width: 130px;
                height: 130px;
            }

            article {
                margin-left: 40px;
                width: 220px;
            }

            span {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }

    /* ----- Nossa visão ----- */
    .vision {
        background: var(--marketing-brackground);
        width: 100vw;
        height: 600px;
        display: flex;
        justify-content: center;
        align-items: center;

        div {
            width: 190px;
            height: 190px;
        }

        article {
            margin-left: 80px;
            width: 320px;
        }

        span {
            color: var(--azul-ramo);
            font-weight: 700;
            font-size: 2rem;
        }
        
        p {
            color: var(--azul-ramo);
            font-weight: 500;
            font-size: .9rem;
            text-align: justify;
        }

        @media (max-width: 720px) {
            img {
                width: 150px;
            }

            article {
                margin-left: 40px;
                width: 260px;
            }
        }

        @media (max-width: 530px) {
            height: 350px;

            img {
                width: 100px;
            }

            div {
                width: 130px;
                height: 130px;
            }

            article {
                margin-left: 40px;
                width: 220px;
            }

            span {
                font-size: 1.5rem;
            }

            p {
                font-size: 0.8rem;
            }
        }
    }

    /* ----- Fale conosco ----- */
    .contactUs {
        display: flex;
        flex-direction: column;
        align-items: center;
    
        padding: 1rem 0;
        margin-top: 4rem;
    
        h2 {
            color: var(--azul-ramo);
            font-size: 2rem;
        }
    
        span {
            color: var(--azul-ramo);
            font-size: 1rem;
            font-weight: 400;
            text-align: center;
        }
    }
}