.all {
    display: flex;
    font-family: 'Poppins';
    min-height: 100vh;

    .pageContent {
        display: flex;
        align-items: center;
        width: 100vw;
        margin-left: 350px;
        background-color: var(--marketing-brackground);

        .content {
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 40px;
            margin-left: 10rem;
            width: fit-content;

            button {
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                width: fit-content;
                
                padding: 30px 50px;

                border: 1px solid lightgray;
                border-radius: 20px;
                background-color: #fff;
                cursor: pointer;

                &:hover {
                    transform: scale(1.02);
                    transition: .2s ease;
                }

                img {
                    width: 180px;
                    height: 180px;
                }    
                
                span {
                    font-family: "Poppins", sans-serif;
                    font-size: 1.1rem;
                    font-weight: 500;
                }
            }   
        }
    }
}