.News {
  border-bottom: 1px solid rgba(0, 0, 0, 0.17);
  height: 20rem;
  .img {
    margin-top: 2rem;
    img {
      border-radius: 15px;
    }
  }
  .newsInfo {
    margin-left: 4rem;
    a {
      text-decoration: none;
      color: var(--azul-ramo);
      h1 {
        text-align: left ;
        width: fit-content;
        margin-bottom: 2rem;
        font-weight: 700;
        font-size: 25px;
      }
    }
    p {
      font-weight: 500;
      font-size: 15px;
    }
    .time {
      color: black;
      margin-top: 4rem;
      font-weight: 700;
    }
  }
}
