.all {
  height: 100vh;
  width: 86vw;
  display: flex;
  flex-direction: column;
  font-family: "Roboto", sans-serif;
  color: var(--gray);
  ::-webkit-scrollbar {
    width: 6px;
    height: 1px;
  }
  ::-webkit-scrollbar-thumb {
    background: #0d5faa;
    border-radius: 12px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b3afb3;
  }
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 12px;
    padding-left: 2rem;
  }
  .title {
    width: 12rem;
    height: 3.5rem;
    border-radius: 12px;
    border: 1px solid gray;
    text-align: center;
    position: absolute;
    top: 4%;
    left: 20%;

    background-color: white;
    h1 {
      margin-top: 0.5rem;
      font-size: 30;
      font-weight: 500;
    }
  }
  .manager {
    width: 93%;
    height: 95%;
    margin: 5% 2.5% 2%;
    border: 1px solid grey;
    border-radius: 12px;
    overflow-y: scroll;

    .search {
      width: 95%;
      display: flex;
      position: fixed;
      .searchBar {
        background-color: white;
        margin-top: 6rem;
        margin-left: 2rem;
        width: 77%;
        height: 2.5rem;
        border: 2px solid rgba(0, 0, 0, 0.27);
        border-radius: 10px 10px 10px 10px;
        input {
          margin-left: 0.5rem;
          width: 96%;
          border: transparent;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          color: var(--gray);
        }
        button {
          text-decoration: none;
          background-color: transparent;
        }
        img {
          padding-top: 0.6rem;
          margin-left: 0.5rem;
          width: 0.9rem;
        }
      }
      .searchButton {
        margin-left: 1rem;
        margin-top: 6rem;
        width: 12%;
        border-radius: 7px;
        background-color: var(--azul-ramo);
        text-align: center;
        p {
          text-decoration: none;
          font-size: 20px;
          margin-top: 0.5rem;
          color: white;
          font-weight: 700;
        }
      }
    }
    .elementsManager {
      width: 95%;
      margin: 3rem;

      .managingButtons {
        display: flex;
        flex-direction: row;
        position: fixed;
        margin-bottom: 2rem;
        .button {
          width: 6.125rem;
          height: 2.125rem;
          text-align: center;
          border-radius: 5px;
          p {
            font-weight: 500;
            margin-top: 0.5rem;
          }
        }
        .activeButton {
          width: 6.125rem;
          height: 2.125rem;
          text-align: center;
          border-radius: 5px;
          background-color: #9db0f2;

          p {
            font-weight: 500;
            margin-top: 0.5rem;
          }
        }
      }
      .scroll {
        padding-top: 5rem;
        .elements {
          display: flex;
          width: 95%;
          margin-top: 2rem;
          border-bottom: 1px solid gray;

          p {
            padding-top: 1rem;
            width: 91%;
            font-size: 20px;
            font-weight: 400;
          }
          .edit{
            display: flex;
          }
          img {
            padding-bottom: 1rem;
            margin-left: 0.3rem;
            margin-right: 0.3rem;
          }
        }
      }
    }
  }
  .backButton {
    padding: 0;
    margin-left: auto;
    margin-right: 1.8rem;
    margin-bottom: 2rem;
    width: 9rem;
    height: 3.375rem;
    background-color: var(--azul-ramo);
    border-radius: 7px;
    text-align: center;
    p {
      margin-top: 0.5rem;
      color: white;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
