.all {
  height: 100vh;
  display: flex;
  flex-direction: column;
  flex:1;
  font-family: "Roboto", sans-serif;
  color: var(--gray);
  ::-webkit-scrollbar {
    width: 6px;
    height: 1px;
  }
  ::-webkit-scrollbar-thumb {
    background: #0d5faa;
    border-radius: 12px;
  }
  ::-webkit-scrollbar-thumb:hover {
    background: #b3afb3;
  }
  ::-webkit-scrollbar-track {
    background: #f0f0f0;
    border-radius: 12px;
    padding-left: 2rem;
  }
  .title {
    margin-left: 2.5rem;
    border-radius: 12px;
    border: 1px solid rgba(0, 0, 0, 0.6);
    font-family: Roboto, 'sans-serif';
    font-weight: normal;
    padding: 0.8rem 3.5rem;
    font-size: 1.6rem;
  }
  .manager {
    display: flex;
    flex-direction: column;
    flex:1;
    margin: 2rem;
    padding: 2rem;
    border: 1px solid rgba(0, 0, 0, 0.6);
    border-radius: 12px;

    .search {
      display: flex;

      .searchBar {
        background-color: white;
        border: 2px solid rgba(0, 0, 0, 0.27);
        border-radius: 10px;
        display: flex;
        flex: 1;
        input {
          border: transparent;
          font-family: "Poppins", sans-serif;
          font-weight: 500;
          color: var(--gray);
        }
        button {
          text-decoration: none;
          background-color: transparent;
        }
        img {
          padding-top: 0.6rem;
          margin-left: 0.5rem;
          width: 0.9rem;
        }
      }
      .searchButton {
        border-radius: 7px;
        background-color: var(--azul-ramo);
        text-align: center;
        padding: 8px 15px;
        margin-left: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        cursor: pointer;
        p {
          text-decoration: none;
          font-size: 20px;
          color: white;
          font-weight: 700;
        }
      }
    }
    .elementsManager {
      margin-top: 2rem;
      margin-left: 1rem;

      .managingButtons {
        display: flex;
        flex-direction: row;
        margin-bottom: 2rem;
        .button {
          width: 6.125rem;
          height: 2.125rem;
          text-align: center;
          border-radius: 5px;
          cursor: pointer;
          p {
            font-weight: 500;
            margin-top: 0.5rem;
          }
        }
        .activeButton {
          width: 6.125rem;
          height: 2.125rem;
          text-align: center;
          border-radius: 5px;
          background-color: #9db0f2;
          cursor: pointer;
          p {
            font-weight: 500;
            margin-top: 0.5rem;
          }
        }
      }
      .scroll {
        overflow-y: scroll;
        height: 55vh;
        .elements {
          display: flex;
          justify-content: space-between;
          align-items: flex-end;
          border-bottom: 1px solid gray;
          padding-bottom: 10px;
          padding-top: 15px;
          p {
            font-size: 1.1rem;
            font-weight: 400;
          }
          .edit{
            display: flex;
          }
          img {
            width: 30px;
            margin-left: 0.3rem;
            margin-right: 0.7rem;
          }
        }
      }
    }
  }
  .backButton {
    display: flex;
    align-self: flex-end;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 2rem;
    margin-right: 2rem;
    margin-bottom: 1rem;
    background-color: var(--azul-ramo);
    border-radius: 7px;
    text-align: center;
    cursor: pointer;
    p {
      color: white;
      font-size: 24px;
      font-weight: 700;
    }
  }
}
