.all{
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;

  width: 350px;
  min-height: 100vh;
  min-width: 200px;
  background-color: var(--azul-ramo);
  color: white;
  font-family: 'Roboto', sans-serif;

  .title {   
    margin-top: 50px;
  }

  .edit {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    margin-top: 150px;

    h1 {
      font-size: 1.3rem;
      font-weight: bold;
      margin: 25px 0;
      cursor: pointer;
    }

    h1:hover {
      color: black;
    }

    .border {
      border-radius: 2px;
      border-bottom: 4px solid #fff;
      padding-bottom: 5px;
    }
  }
}