.all {
  // opacity: 10%;
  display: flex;
  flex-direction: column;
  position: fixed;
  align-items: center;
  z-index: 10;

  width: 300px;
  min-height: 100vh;
  background-color: var(--azul-ramo);
  color: white;
  font-family: 'Poppins', sans-serif;

  .title {   
    display: flex;
    margin-top: 50px;
  }

  .routes {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h1 {
      font-size: 1.1rem;
      font-weight: bold;
      margin: 25px 0;
      cursor: pointer;
    }

    h1:hover {
      color: black;
    }

    .border {
      border-radius: 2px;
      border-bottom: 4px solid #fff;
      padding-bottom: 5px;
    }
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    
    padding: 15px 0 15px 20px;
    width: 80%;
    margin-bottom: 50px;
    border-radius: 30px;
    background: var(--contraste);

    .userImage {
      background: var(--azul-ramo);
      width: 55px;
      height: 55px;
      border-radius: 100%;
    }

    .userInfo {
      display: flex;
      flex-direction: column;
      margin-left: 15px;

      span {
        max-width: 120px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        font-size: .9rem;
        font-weight: 700;
      }
      
      p {
        font-size: .7rem;
        color: #fff;
        opacity: 57%;
        font-weight: 400;
      }
    }
  }
}