.container {
  display: flex;
  width: 100%;
 
  align-items: center;
  padding: 30px 0 50px 0;

  img {
    width: 80px;
    cursor: pointer;
  }

  .progressContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;

    article {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      color: #fff;
    }

    .dots {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background: #fff;
      cursor: pointer;
    }

    .activeDot {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: #0B95EE;
      cursor: pointer;
    }

    .validatedDot {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: #38B05A;
      cursor: pointer;
    }

    .lines {
      width: 70px;
      height: 2px;
      margin: 0 10px;
      background: #fff;
    }
  }
}

@media (max-width: 1200px) {
  .container {
    width: 500px;
    justify-content: space-between;
    padding-left: 0px;

    .progressContainer {
      margin-left: 0px;
    }
  }
}

@media (max-width: 560px) {
  .container {
    width: 100%;
    padding: 25px 30px;
  }
}

@media (max-width: 490px) {
  .progressContainer {
    .lines {
      width: 40px !important;
      height: 2px;
      margin: 0 10px;
      background: #fff;
    }
  }
}

@media (max-width: 340px) {
  .progressContainer {
    .lines {
      width: 20px !important;
      height: 2px;
      margin: 0 10px;
      background: #fff;
    }
  }
}

