.container {
  display: flex;
  margin-right: 7rem;
  align-items: center;
  padding: 30px 0 50px 0;

  img {
    width: 80px;
    cursor: pointer;
  }

  .progressContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 350px;

    article {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 0.6rem;
      color: #fff;
    }

    .dots {
      width: 18px;
      height: 18px;
      border-radius: 100%;
      background: #fff;
      cursor: pointer;
    }

    .activeDot {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: #0B95EE;
      cursor: pointer;
    }

    .validatedDot {
      width: 20px;
      height: 20px;
      border-radius: 100%;
      background: #38B05A;
      cursor: pointer;
    }

    .lines {
      width: 70px;
      height: 2px;
      margin: 0 10px;
      background: #fff;
    }
  }
}