.all {
    display: flex;
    font-family: 'Poppins';
    min-height: 100vh;
    background-color: var(--marketing-brackground);
    padding-bottom: 50px;
    overflow-y: auto;

    button {
		font-family: 'Poppins', sans-serif;	
	}

    input, textarea {
        font-family: 'Poppins', sans-serif;
    }
    
    .pageContent {
        display: flex;
        margin-left: 360px;
        width: 100%;

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 30px;
            row-gap: 40px;

            .logoBanner {
                display: flex;
                column-gap: 30px;

                @media (max-width: 600px) {
                    flex-direction: column;
                }

                span {
                    font-size: 1rem;
                    font-weight: 500;
                }

                .logoHolder, .bannerHolder {
                    display: flex;
                    flex-direction: column;
                    row-gap: 15px;
                    white-space: nowrap;
                    z-index: 0;
                    width: auto;

                    #bannerImg {
                        img {
                            padding: 0px;
                        }
                    }

                    .img {
                        display: flex;
                        position: relative;
                        border-radius: 8px;

                        width: 150px;
                        height: 150px;

                        img {
                            background-color: var(--contraste);
                            object-fit: cover;
                            width: 100%;
                            padding: 20px;
                            border-radius: 8px;
                        }

                        input {
                            display: flex;
                            position: absolute;
                            color: transparent;
    
                            width: 150px;
                            height: 150px;
                            border-radius: 8px;
                            cursor: pointer;
                            transition: .5s ease;
                            background-position: center;
            
                            
                        }

                        input::-webkit-file-upload-button {
                            visibility: hidden;
                          }
    
                        input:hover {
                            background-image: url('/camera_icon.svg');
                            background-repeat: no-repeat;
                            background-size: 60px;
                            background-color: rgba($color: #0e2738, $alpha: 0.6);     
                        }
                    }
                }

                .bannerHolder {
                    .img {
                        width: 410px;
                        
                        input {
                            width: 410px;
                        }

                        @media (max-width: 440px) {
                            input {
                                width: 90vw;   
                            }
                            input:hover {
                                width: 90vw;
                            }
                        }
                       
                    }


                    @media (max-width: 600px) {
                        margin-top: 25px;
                    }

                    @media (max-width: 440px) {
                        margin-top: 25px;

                        
                        .img {
                            width: 90vw;
                        }
                    }
                }         
            }

            .description {
                display: flex;
                flex-direction: column;
                row-gap: 20px;

                span {
                    font-size: 1rem;
                    font-weight: 500;
                }

                .nameHolder {
                    display: flex;
                    flex-direction: column;

                    input {
                        margin: none;
                        border-radius: 5px;
                        border: 1px solid #CFCFCF;
                        margin-top: 10px;
                        padding: 13px;
                        width: 590px;
                    }
                }

                .descriptionHolder {
                    display: flex;
                    flex-direction: column;

                    textarea {
                        margin: none;
                        border-radius: 5px;
                        border: 1px solid #CFCFCF;
                        margin-top: 10px;
                        width: 100%;
                        height: 150px;
                        padding: 13px;
                        resize: none;
                    }
                }

                .members {
                    display: flex;
                    flex-direction: column;
                    
                    input {
                        margin: none;
                        border-radius: 5px;
                        border: 1px solid #CFCFCF;
                        margin-top: 10px;
                        padding: 13px;
                    }  
                }

                .datesContainer {
                    align-items: flex-start;
                    column-gap: 20px;
                    display: flex;
                    height: 100%;

                    article {
                        p {
                            font-weight: 500;
                            margin-bottom: 10px;
                        }

                        >input {
                            margin-top: 15px;
                        }

                        label {
                            margin-left: 10px;
                        }
                    }
                }

                .begin, .end, .endFixed {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    height: 100%;
                    padding: 0 10px;

                    font-size: .9rem;
                    font-weight: bold;
                    border-radius: 5px;
                    color: var(--contraste);
                    background-color: #CDD9E8;

                    .beginDateInputOff {
                        color: #8D8E92;
                    }

                    @media (max-width: 680px) {
                        flex: 1;
                    }
                    
                    @media (max-width: 475px) {
                        width: 100%;
                        padding: 5px 10px;
                        font-size: .8rem;
                    }

                    span {
                        padding: 14px 0;
                    }

                    input, p {
                        background: transparent;
                        color: var(--contraste);
                        font-weight: bold;
                        border: none;
                        font-family: 'Poppins', sans-serif;
                        padding: 10px 0px;

                        &::-webkit-datetime-edit{
                            display: flex;
                            justify-content: center;
                            padding: 5px;
                            max-width: 150px;
                            font-weight: 800;
                            font-size: .9rem;

                            @media (max-width: 475px) {
                                font-size: .8rem;
                            }
                        }
                        
                        &::-webkit-calendar-picker-indicator{
                            margin-left: 0px;
                            display: none;
                        }
                    }

                    p {
                        background-color: #E1E2E8;
                        color: #8D8E92;
                    }

                }

                .endFixed {
                    background-color: #E1E2E8;

                    p {
                        color: #8D8E92;
                        padding: 10px 15px;
                    }
                    
                    @media (max-width: 475px) {
                        width: 100%;
                        padding: 10px 10px;
                        font-size: .8rem;
                    }
                }
            }

            .buttonRow {
                display: flex;
                column-gap: 30px;
                padding-bottom: 50px;

                .cancel, .edit {
                    padding: 15px 60px;
                    border: 0;
                    border-radius: 5px;
                    background-color: #D5E0EC;
                    color: #0D5FAA;
                    cursor: pointer;
                    transition: .2s ease;
                    font-weight: 600;
                    font-size: 0.8rem;
                  }

                  .cancel:hover, .edit:hover {
                    transform: scale(1.05);
                  }
          
                  .edit {
                    background-color: #0D5FAA;
                    color: white;
                  }
            }
        }
    }

    @media (max-width: 1000px) {
        .pageContent {
            margin-left: 0px;
            padding: 0px 20px 0 20px;
            justify-content: center;
        }
    }

    @media (max-width: 670px) {
        .pageContent {
            .content {
                .logoBanner {
                    column-gap: 20px;        
                }
    
                .description {     
                    width: 100%;
                    .nameHolder {
                        input {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }

    @media (max-width: 570px) {
        .pageContent {
            .content {
                .logoBanner {
                    column-gap: 15px;   

                    .logoHolder {
                        input {
                            background-size: 60px;
                            width: 130px;
                            height: 130px;
                        }
                    }   
                }
            }
        }
    }

    @media (max-width: 440px) {
        .pageContent {
            .content {
                .logoBanner {
                    width: 100%;
                    column-gap: 30px;
                    flex-direction: column;
                }

                .buttonRow {
                    column-gap: 20px;
    
                    .cancel, .edit {
                        padding: 15px 40px;
                      }
                }
            }
        }
    }
}

@media (max-width: 800px) {
    .all {
        h1 {
            font-size: 1.5rem;
        }
    }
}