.mapContainer {
  display: flex;
  position: relative;
  width: 100vw;
  height: 100%;
  overflow: hidden;
  top: 0;
  z-index: -1;
  opacity: 100%;
  justify-content: center;
  animation: enableMap .5s;
}

#disabled {
  opacity: 0;
  animation: disableMap .5s;
  height: 0;
}

@keyframes disableMap {
  from {
    opacity: 100%;
    top: 0;
    height: 100%;

  }
  
  to {
    opacity: 0%;
    top: -500px;
    height: 0;

  }
}

@keyframes enableMap {
  from {
    opacity: 0%;
    top: -500px;
    height: 0;
  }
  
  to {
    opacity: 100%;
    top: 0;
    height: 100%;
  }
}