.footer {
  font-family: 'Poppins', sans-serif;
  color: white;
  display: flex;
  justify-content: center;
  background-color: #0D5FAA;
  padding-left: 3rem;
  margin-top: 35rem;
  padding-top: 1rem;
  h1{
    font-weight: 800;
  }
  p{
    font-weight: 600;
    font-size: 0.9rem;
  }

  .ramo {
    display: flex;
    flex: 1.1;
    flex-direction: column;
    
    #wrapper{
      display: flex;
      flex-direction: row;
    }

    img{
      float: left;
      height: 6rem;
      margin-right: 2rem;
    }
    p{
      margin-top: 1rem;
      text-align: justify;
    }
    
  }

  .equipes {
    display: flex;
    flex: 1;
    flex-direction: column;
    justify-content: center;
    table{
    margin: auto;
    }
    

   
    img{
      height: 3rem;
      width: 3rem;
      margin: 15px;
      margin-bottom: 1rem;
     
    }
    
  }
  .info{
    display: flex;
    flex: 1.1;
    flex-direction: column;
    width: 30%;
    h1{
      margin-bottom: 1.5rem;
    }
    p{
      margin-bottom: 1rem;
    }
    img{
      margin-right: 1rem;
    }
  }

  @media (max-width: 1185px ) {
    .equipes{ 
      display: none;
    }
}
}