.footer {
  display: flex;
  width: 100vw;
  justify-content: space-between;
  align-items: center;
  padding: 25px 70px 25px 50px;
  position: relative;
  bottom: 0;
  z-index: 20;

  font-family: 'Poppins', sans-serif;
  color: white;
  background-color: var(--azul-ramo);
  -webkit-box-shadow: 0px -4px 27px -2px rgba(0,0,0,0.06); 
  box-shadow: 0px -4px 27px -2px rgba(0,0,0,0.06);

  @media (max-width: 725px) {
    flex-direction: column;
    gap: 50px;

  }

  @media (max-width: 890px) {
    gap: 50px;

  }

  
  h1 {
    font-size: 1.5rem;
    font-weight: 800;
  }

  p {
    font-weight: 600;
    font-size: 0.9rem;
  }

  .logoRamo {
    display: flex;
    align-items: center;
    gap: 18px;
    
    img {
      width: 100px;
    }

    span {
      font-weight: 800;
      font-size: 1.3rem;
    }
  }

  .addressContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    span {
      font-size: 1.3rem;
      font-weight: 700;
      margin-bottom: 10px;
    }

    p {
      font-size: 0.8rem;
      font-weight: 400;
      text-align: center;
    }

    @media (max-width: 1050px) {
      p {
        max-width: 200px;
      }
      
    }

   
  }

  .crewsContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 15px;

    img {
      width: 50px;
    }
  }
}