.footer {
  font-family: 'Poppins', sans-serif;
  position: absolute;
  color: white;
  display: flex;
  justify-content: start;
  background-color: #0D5FAA;
  padding: 1.2rem;
  margin-top: 2rem;
  min-width: 835px;
  max-height: 420px;
  h1{
    font-size: 1.5rem;
    font-weight: 800;
  }
  p{
    font-weight: 600;
    font-size: 0.9rem;
  }

  .ramo {
    display: flex;
    flex: 1.1;
    flex-direction: column;
    align-items: stretch;
    max-width: 35%;
    
    #wrapper{
      display: flex;
      flex-direction: row;
      
    }

    img{
      float: left;
      height: 5.4rem;
      margin-top: 0.5rem;
      margin-right: 1.2rem;
    }
    p{
      margin-top: 1rem;
      padding-right: 0.5rem;
      text-align: justify;
      overflow-y: auto;
      scrollbar-track-color: red;
    }
    
  }

  .equipes {
    display: flex;
    flex: 1;

    table {
      margin: auto;
    }

    img{
      height: 3.5rem;
      width: 3.5rem;
      margin: 10px;
    }
    
  }
  .info{
    display: flex;
    flex: 1.1;
    flex-direction: column;
    max-width: 35%;
    h1{
      margin-bottom: 1.5rem;
    }
    p{
      margin-bottom: 0.7rem;
    }
    img{
      margin-right: 1rem;
    }
    .social{
      display: flex;
    }
  }


}