.overlay{
  position: absolute;
  align-items: center;
  left: 50%;
  top: 70rem;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  .body{
   
    background-color: blue;
    width: 60rem;
    height: 40rem;
    border-radius: 15px;
    padding: 15px;
  }
}