.modal{
  display: column;
  .InputsBlock{
    display:column;
    input{
      background: #F2ECEC;
      border-radius: 5px;
      border: 1px solid black;
    }
    label{
      font-weight: bold;
    }
    .first{display:flex;}
    .second{display:flex;}
    .third{display:flex;}
    .fourth{display:flex;}
    
  }
}