.all {
  font-family: "Poppins", sans-serif;
  color: var(--azul-ramo);
  margin-left: 5rem;

  h1 {
    font-weight: 800;
    font-size: 40px;
  }
  h3 {
    font-weight: 800;
    font-size: 35px;
    margin: 2rem 0;
    margin-left: 2rem;
  }
  .principal {
    margin-top: 1rem;
    margin-left: 2rem;
    width: 73rem;
    h1 {
      font-weight: 700;
      font-size: 32px;
    }
    p {
      font-size: 16px;
      font-weight: 500;
    }
    .writer {
      margin: 1rem 0;
      text-align: right;
    }
    .shoot {
      text-align: center;
    }
    .image {
      border-radius: 20px;
    }
  }
  .randomNewsContainer {
    margin-left: 2rem;
    border-top: 1px solid rgba(0, 0, 0, 0.17);
    width: 56.5rem;
    height: 40rem;
    text-decoration: none;
    .randomNews {
      border-bottom: 1px solid rgba(0, 0, 0, 0.17);
      height: 20rem;
      .img {
        margin-top: 2rem;
        img {
          border-radius: 15px;
        }
      }
      .newsInfo{
        margin-left: 4rem;
        a{
          text-decoration: none;
          color: var(--azul-ramo);
          h1{
            margin-bottom: 2rem;
            font-weight: 700;
            font-size: 35px;
          }
        }
      }
    }
  }
}
