.contactUsContent{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin: 3rem 0;
}

.contactOptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 4rem;

    .buttonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 265px;
        height: 155px;
    
        border-radius: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        border: 0;
        background-color: white;
        cursor: pointer;
        font-size: 1.125rem;
        color: var(--azul-ramo);
    }
    
    .buttonContainer:hover {
        background-color: var(--azul-ramo);
        transition: 0.2s ease;
        color: white;
        transition: 0.2s ease;

        svg {
            color: white;
            transition: .2s ease;
        }
    }

    svg {
        color: var(--azul-ramo);
        font-size: 2.188rem;
        margin-bottom: .4rem;
    }

    #activedButton {
        background-color: var(--azul-ramo);
        color: white;
    
        svg {
            color: white;
            transition: .2s ease;
        }
    }
}

.social {
    display: flex;
    position: relative;
    top: 0;
    height: 100%;
    overflow: hidden;
    z-index: -1;
    opacity: 100%;
    justify-content: center;
    gap: 50px;
    
    margin-top: 3rem;

    animation: enable .5s;

    .socialButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        padding: 1rem;
        background-color: white;
        border: 0;
        cursor: pointer;
        font-size: 1.438rem;
        font-family: 'Poppins';
        color: var(--azul-ramo);

        span {
            display: flex;
            justify-content: center;
            align-items: center;

            width: 120px;
            height: 120px;
            padding: 2rem;
            margin-bottom: .5rem;
            border-radius: 100%;
        }

        .icon {
            font-size: 50px;
            color: white;
        }

        #linkedin {
            background-color: #0E76A8;
        }

        #facebook {
            background-color: #3B5998;
        }

        #instagram {
            background: linear-gradient(180deg, rgba(244,11,221,1) 0%, rgba(249,189,37,1) 100%);
        }
    }
}

@keyframes disable {
    from {
      opacity: 100%;
      top: 0;
      height: 100%;
  
    }
    
    to {
      opacity: 0%;
      top: -500px;
      height: 0;
  
    }
}
  
@keyframes enable {
    from {
        opacity: 0%;
        right: -500px;
        height: 0;
    }

    to {
        opacity: 100%;
        right: 0;
        height: 100%;
    }
}

.mail {
    width: 900px;
    height: 500px;

    margin-top: 3rem;

    border-radius: 20px;
    background-color: var(--azul-ramo);
}

.mapContainer {
    display: none;
}

.disabled {
    opacity: 0;
    animation: disable .1s;
    height: 0;
}