.contactUsContent{
    display: flex;
    flex-direction: column;
    align-items: center;

    width: 100%;

    margin: 3rem 0 6rem 0;
}

.contactOptions {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin-bottom: 3rem;

    .buttonContainer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
        width: 265px;
        height: 155px;
    
        border-radius: 20px;
        border: 1px solid #CED3D9;
        background-color: #fff;
        cursor: pointer;
        font-size: 1.125rem;
        color: var(--azul-ramo);
    }
    
    .buttonContainer:hover {
        background-color: var(--azul-ramo);
        transition: 0.2s ease;
        color: #fff;
        transition: 0.2s ease;

        svg {
            color: #fff;
            transition: .2s ease;
        }
    }

    svg {
        color: var(--azul-ramo);
        font-size: 2.188rem;
        margin-bottom: .6rem;
    }

    #activedButton {
        background-color: var(--azul-ramo);
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
        color: #fff;
    
        svg {
            color: #fff;
            transition: .2s ease;
        }
    }
}

.social {
    display: flex;
    position: relative;
    top: 0;

    opacity: 100%;
    
    animation: enable .5s;
    
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 80px;
    
    .socialButton {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
        background-color: #fff;
        border: 0;
        font-size: 1.1rem;
        font-family: 'Poppins';
        color: var(--azul-ramo);
        
        span {
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;

            width: 100px;
            height: 100px;
            padding: 2rem;
            margin-bottom: .5rem;
            border-radius: 100%;

            &:hover {
                filter: brightness(0.9);
            }
        }

        .icon {
            font-size: 30px;
            color: #fff;
        }

        #linkedin {
            background-color: #0E76A8;
        }

        #facebook {
            background-color: #3B5998;
        }

        #instagram {
            background: linear-gradient(180deg, rgba(244,11,221,1) 0%, rgba(249,189,37,1) 100%);
        }
    }
}

.mail {
    display: flex;
    padding: 50px;
    width: 850px;

    display: flex;
    opacity: 100%;
    
    animation: enable .5s;
    
    background: var(--azul-ramo) url("/Paper_Plane.svg") no-repeat;
    background-position: 80% 50%;
    background-size: 500px;

    .copyEmailButton {
        cursor: pointer;
        display: flex;
        align-items: center;
        padding: 25px 30px;
        border-radius: 25px;
        background: #07559C;
        
        p {
            font-size: 1.1rem;
            font-weight: 400;
            color: #fff;
            margin-left: 25px;
        }

        svg {
            margin-left: 40px;
            color: #83AACE;
        }
    }
}

#disableSocial {
    height: 0;
    overflow: hidden;
    opacity: 0%;
    z-index: -1;
    padding: 0;
    margin: 0;
    animation: disable .25s;
}

#disableMail {
    height: 0;
    padding: 0;
    margin: 0;
    overflow: hidden;
    opacity: 0%;
    z-index: -1;
    animation: disableMail .25s;
}

@keyframes disableMail {
    from {
        opacity: 100%;
        height: 100%;
        top: 0;
        padding: 50px;
    }
    
    to {
        opacity: 0;
        height: 0;
        top: -100px;
        padding: 50px;
    }
}

@keyframes disable {
    from {
        opacity: 100%;
        height: 100%;
        top: 0;
    }
    
    to {
        opacity: 0;
        height: 0;
        top: -100px;
        padding: 50px;
    }
}
  
@keyframes enable {
    0% {
        opacity: 0%;
        height: 0;
        top: -100px;
        z-index: -1;
    }
    
    50% {
        opacity: 0%;
        height: 0;
        top: -100px;
        z-index: -1;
    }
      
    100% {
        opacity: 100%;
        height: 100%;
        top: 0;
        z-index: -1;
    }
}