.homeHeader { /*Header (Only Home)*/
  position: relative;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  position: relative;
  
  background-image: url("/GeometricBackground.svg");
  background-color: #0d5faa;
  background-size: cover;

  min-width: 100%;
  padding: 0 0 4rem 1rem;


  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 5rem;
    margin-left: 5rem;

    .logo {
      height: 8rem;
    }

    section {
      margin: 10px 4rem 0 2rem;
      font-family: Poppins, sans-serif;
    
      h1 {
        max-width: 350px;
        font-weight: 800;
        color: #fff;
        font-size: 2.5rem;
        line-height: 50px;
      }
      
      p {
        color: #ffffff;
        font-weight: 400;
        font-size: 1rem;
        max-width: 420px;
      }
    }
  }
  
  .linkContainer {
    position: absolute;
    top: 0;
    right: 0;
    background: #0F579A;
    display: flex;
    align-self: flex-start;
    align-items: center;
    display: flex;
    border-radius: 21px 0px 0px 40px;
    padding: 20px 20px 0 30px;

    p, a {
      display: flex;
      text-decoration: none;
      display: inline;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: .9rem;
      margin-right: 1rem;
      margin-left: 0.5rem;
      color: #ffffff;
      margin-bottom: 1.4rem;
      cursor: pointer;
    }

    .activeLink {
      border-bottom: 3px solid white;
    }
    
    p:hover, a:hover {
      color:var(--logo-trasition);
    }
  } 
}

@media (max-width: 950px) {
  .homeHeader {
    padding-bottom: 20px;

    .logoContainer {
      margin-left: 20px;

      .logo {
        height: 6rem;
      }

      section {
        h1 {
          max-width: 500px;
          font-size: 1.8rem;
        }
        
        p {
          font-size: 1rem;
          max-width: 460px;
        }
      }
    }

    .linkContainer {
      padding: 15px 20px 0 30px;

      p, a {
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 700px) {
  .homeHeader {
    height: 100px;
    padding-bottom: 0px;

    .logoContainer {
      align-items: center;
      margin-top: 0px;

      .logo {
        height: 70px;
      }

      section {
        display: none;
      }
    }

    .linkContainer {
      display: none;
    }
  }

  .curvedBorder {
    display: none;
  }
}


.headerContainer {
  position: relative;
  z-index: 2;
  background-color: #0d5faa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  padding: 0 0.5rem 1.5rem 1rem;

  .logoContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-left: 20px;

    .logo {
      height: 4rem;
    }

    section {
      margin: 0px 4rem 0 1rem;
      font-family: Poppins, sans-serif;
  
      h1 {
        font-weight: 800;
        color: #fff;
        font-size: 1.5rem;
      }
      
      p {
        color: #ffffff;
        font-weight: 600;
        font-size: .8rem;
      }
    }
  }

  .linkContainer {
    background: #0F579A;
    display: flex;
    align-self: flex-start;
    align-items: center;
    display: flex;
    border-radius: 21px 0px 0px 40px;
    padding: 20px 12px 0 30px;

    p, a {
      display: flex;
      text-decoration: none;
      display: inline;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 0.9rem;
      margin-right: 1rem;
      margin-left: 0.5rem;
      color: #ffffff;
      margin-bottom: 1.4rem;
      cursor: pointer;
    }

    .activeLink {
      border-bottom: 3px solid white;
    }
    
    p:hover, a:hover {
      color:var(--logo-trasition);
    }
  } 
}

.curvedBorder {
  position: relative;
  z-index: 1;
  margin-top: -20px;
}

.border {
  width: 100%;
}

@media(max-width:1215px) {
  .headerContainer li p {
    display: none;
  }
}
