.headerContainer {
  background-color: #0d5faa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 1000px;
  padding-left: 1rem;

  .logoContainer {
    display: flex;
    margin-top: 15px;
    margin-left: 20px;

    .logo {
      height: 5rem;
      margin-top: 10px;
    }
  }


  ul {
    margin: 10px 4rem 0 2rem ;
    list-style: none;
  }
  li {
    font-family: Poppins, sans-serif;
    font-weight: 800;
    color: #ffffff;
    font-size: 24px;
    p {
      font-weight: 600;
      font-size: 18px;
    }
  }

  .linkContainer {
    background: #0F579A;
    display: flex;
    align-self: flex-start;
    align-items: center;
    display: flex;
    border-radius: 21px 0px 0px 40px;
    padding: 20px 0 0 30px;

    a {
      display: flex;
      text-decoration: none;
      display: inline;
      font-family: Poppins, sans-serif;
      font-weight: 700;
      font-size: 16;
      margin-right: 1rem;
      margin-left: 0.5rem;
      color: #ffffff;
      margin-bottom: 1.4rem;
    }

    .activeLink {
      border-bottom: 3px solid white;
    }
    
    a:hover {
      color:var(--logo_trasition);
    }
  } 
}

.curvedBorder {
  margin-top: -0.5rem;
  min-width: 805px;

}

.border {
  width: 100%;
}

@media(max-width:1215px) {
  .headerContainer li p {
    display: none;
  }
}
