.modal {
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 110px 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: auto;
  bottom: auto;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  row-gap: 5px;
  background-color: white;
  border-radius: 25px;
  font-family: 'Poppins';
  
  @media (max-width: 810px) {
    width: 80vw;
    padding: 100px 0;
  }

  .InputsBlock {
    display: flex;
    flex-direction: column;

    input {
      background: #F2ECEC;
      border-radius: 5px;
      border: 1px solid black;
    }

    label {
      font-weight: bold;
    }

    .days{

      padding: 10px 5px;
      ;
    }

  }

  .Cancel {
    color: white;
    border-radius: 5px;
    border: none;
    background-color: #F60C0C;
    width: 130px;
    height: 31px;
    margin-right: 152px;
    cursor: pointer;
    font-family: 'Poppins';
  }
  .Cancel:hover{
    background-color: #af0b0b;
  }

  .Create {
    color: white;
    border-radius: 5px;
    border: none;
    width: 130px;
    height: 31px;
    background-color: var(--azul-ramo);
    margin-left: 152px;
    cursor: pointer;
    font-family: 'Poppins'
  } 
  .Create:hover{
    background-color: #1d5688
  }
}
