.card {
  display: flex;
  justify-content: start;
  align-items: center;

  width: 536px;
  padding: 25px 30px;

  border-radius: 13px;
  background-color: none;
  cursor: pointer;

  img {
    width: 58px;
  }

  .projectinfo {
    display: flex;
    flex-direction: column;
    justify-content: start;
    
    margin-left: 1rem;

    span {
      font-weight: 600;
      font-size: 1.2rem;
    }
    
    p {
      color: #26272c;
      width: 380px;
      font-weight: 500;
      font-size: 0.9rem;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.card:hover {
  background-color: #ECEEEF;
  transition: .3s ease;
}