.modal {
  display: flex;
  font-family: "Poppins", sans-serif;
  .projeto {
    text-align: center;
  }
  .membros {
    .gridItem {
      display: flex;
    }
    img {
      width: 6rem;
      height: 6rem;
    }
  }
}
