.all {
    display: flex;
    font-family: 'Poppins';
    min-height: 100vh;
    background-color: var(--marketing-brackground);
    overflow-y: auto;
    
    .pageContent {
        overflow-y: scroll;
        display: flex;
        margin-left: 300px;
        justify-content: center;
        
        width: 100%;
        
        @media (max-width: 1168px) {
            justify-content: flex-start;
        }
        
        @media (max-width: 1000px) {
            justify-content: center;
            margin-left: 0;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 30px;
            width: 80%;
            row-gap: 40px;
            
            @media (max-width: 1000px) {
                width: 750px;
                margin: 0;
                align-items: center;
            }

            @media (max-width: 810px) {
                width: 90%;
            }

            .showInformation {
                display: flex;
                column-gap: 20px;
                padding-bottom: 40px;
                border-bottom: 1px solid #E9EAF0;

                img {
                    height: 300px;
                
                    @media (max-width: 810px) {
                        display: none;
                    }
                }

                @media (max-width: 810px) {
                    width: 90vw;
                }

                .container {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    min-width: 410px;
                    height: 169px;
                    text-align: center;
                    background-color: #e9eaf0;
                    row-gap: 20px;

                    @media (max-width: 810px) {
                        width: 100%;
                    }

                    @media (max-width: 475px) {
                        min-width: 0;
                    }
                    
                    span {
                        font-size: .9rem;
                        white-space: nowrap;
                        font-weight: 800;
                        color: #525252;
                    }

                    p {
                        font-size: .9rem;
                        line-height: 20px;
                        color: #525252;
                        margin-top: -15px;
                        text-align: center;
                    }

                    @media (max-width: 475px) {
                        span {
                            font-size: .7rem;
                        }

                        p {
                            font-size: .7rem
                        }
                    }
                    
                    .dates {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        padding: 0 10px;
                        
                        .begin, .end {
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            padding: 10px 20px;
                            white-space: nowrap;

                            font-size: 0.8rem;
                            font-weight: bold;
                            border-radius: 5px;
                            color: var(--contraste);
                            background-color: #CDD9E8;
                        }

                        .divider {
                            width: 30px;
                            height: 6px;
                            background-color: #CDD9E8;
                        }

                        @media (max-width: 475px) {
                            flex-direction: column;

                            .begin, .end {
                                font-size: 0.7rem;
                            }

                            .divider {
                                height: 15px;
                                width: 6px;
                            }
                        }
                    }
                }
            }

            .schedulePSESection {
                display: flex;
                flex-direction: column;
                row-gap: 50px;

                padding-bottom: 50px;
                border-bottom: 1px solid #E9EAF0;

                @media (max-width: 680px) {
                    width: 90vw;
                }

                span {
                    font-size: 1.3rem;
                    font-weight: 800;

                    @media (max-width: 475px) {
                        font-size: 1rem;
                    }
                }

                .rowDates {
                    display: flex;
                    align-items: center;

                    column-gap: 20px;

                    @media (max-width: 680px) {
                        width: 100%;
                        flex-direction: column;
                        row-gap: 20px;
                    }

                    p {
                        font-weight: 600;

                        @media (max-width: 475px) {
                            font-size: .8rem;
                        }
                    }

                    .datesContainer {
                        align-items: center;
                        column-gap: 20px;
                        display: flex;
                        height: 100%;

                        @media (max-width: 680px) {
                            width: 100%;
                        }

                        @media (max-width: 475px) {
                            row-gap: 15px;
                            justify-content: center;
                            flex-direction: column;
                        }
                    }

                    .begin, .end, .beginFixed {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        height: 100%;
                        padding: 0 10px;

                        font-size: .9rem;
                        font-weight: bold;
                        border-radius: 5px;
                        
                        .dateInput{
                            background-color: #cdd9e8;
                            color: var(--contraste);
                            border-radius: 5px;
                            
                            
                        }
                        .dateInput:focus{
                            outline: 2px solid var(--contraste);
                        }
                        

                        .beginDateInputOff {
                            color: #8D8E92;
                        }

                        @media (max-width: 680px) {
                            flex: 1;
                        }
                        
                        @media (max-width: 475px) {
                            width: 100%;
                            padding: 5px 10px;
                            font-size: .8rem;
                        }

                        input, p {
                            background: transparent;
                            color: var(--contraste);
                            font-weight: bold;
                            border: none;
                            font-family: 'Poppins', sans-serif;
                            padding: 10px 0px;

                            &::-webkit-datetime-edit{
                                display: flex;
                                justify-content: center;
                                padding: 5px;
                                max-width: 150px;
                                font-weight: 800;
                                font-size: .9rem;

                                @media (max-width: 475px) {
                                    font-size: .8rem;
                                }
                            }
                            
                            &::-webkit-calendar-picker-indicator{
                                margin-left: 0px;
                                display: none;
                            }
                            
                            
                        }

                        p {
                            background-color: #E1E2E8;
                            color: #8D8E92;
                        }

                    }

                    .beginFixed {
                        background-color: #E1E2E8;

                        p {
                            padding: 10px 15px;
                        }
                        
                        @media (max-width: 475px) {
                            width: 100%;
                            padding: 10px 10px;
                            font-size: .8rem;
                        }
                    }

                    button {
                        padding: 15px 60px;
                        border: 0;
                        border-radius: 5px;
                        background-color: var(--azul-ramo);
                        color: white;
                        cursor: pointer;
                        transition: .2s ease;
                        font-weight: bold;
                        font-size: 1rem;
                    
                        &:hover {
                            transform: scale(1.05);
                        }

                        &:active {
                            transform: scale(0.95);
                        }

                        @media (max-width: 680px) {
                            width: 100%;
                        }

                        @media (max-width: 475px) {
                            font-size: .9rem;
                        }
                    }
                }
            }

            .accessPSEFile {
                display: flex;
                width: 620px;
                flex-direction: column;
                row-gap: 50px;
                padding-bottom: 100px;
                align-items: baseline;

                @media (max-width: 680px) {
                    width: 90vw;
                }

                span {
                    font-size: 1.3rem;
                    font-weight: 800;

                    @media (max-width: 475px) {
                        font-size: 1rem;
                    }
                }

                button {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding: 12px 0px 12px 16px;
                    
                    border: 0;
                    border-radius: 5px;
                    background-color: var(--azul-ramo);
                    color: white;
                    cursor: pointer;
                    transition: .2s ease;
                    span{
                        font-weight: 600;
                        font-size: 1rem;
                    }
                    gap: 8px;

                    @media (max-width: 475px) {
                        font-size: .9rem;
                    }

                    @media (max-width: 680px) {
                        width: 100%;
                    }
                
                    &:hover {
                        transform: scale(1.05);
                    }

                    &:active {
                        transform: scale(0.95);
                    }

                    svg {
                        margin-right: 15px;
                        font-size: 1.4rem;

                        @media (max-width: 475px) {
                            font-size: 1rem;
                        }
                    }
                }

                .downloadButtonOff {
                    cursor: not-allowed;
                    background-color: #D0D0D0;
                    color: #909090;

                    &:hover {
                        transform: scale(1);
                    }

                    &:active {
                        transform: scale(1);
                    }
                }
            }

            .cancelPSE, .closePSE {
                display: flex;
                flex-direction: column;
                row-gap: 10px;
                padding-bottom: 120px;
                width: 450px;

                @media (max-width: 1000px) {
                    width: 600px;
                }

                @media (max-width: 690px) {
                    width: 90vw;
                }

                span {
                    font-size: 1.3rem;
                    font-weight: 800;
                }

                p {
                    font-size: 0.875rem;
                    font-weight: 500;
                }

                button {
                    width: fit-content;
                    padding: 15px 20px;
                    border: 0;
                    border-radius: 5px;
                    background-color: #F93944;
                    color: white;
                    cursor: pointer;
                    transition: .2s ease;
                    font-weight: bold;
                    font-size: 1rem;
                    margin-top: 20px;
                
                    &:hover {
                        transform: scale(1.05);
                    }

                    &:active {
                        transform: scale(0.95);
                    }
                }

                @media (max-width: 680px) {
                    button {
                        width: 100%;
                        font-size: .9rem;
                    }
                }

                @media (max-width: 475px) {
                    span {
                        font-size: 1rem;
                    }

                    p {
                        font-size: 0.8rem;
                    }

                    button {
                        width: 100%;
                        font-size: .9rem;
                    }
                }
            }

            .closePSE {
                button {
                    background-color: #38B05A;
                }
            }
        }
    }
}

.modal {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 110px 200px;

    position: absolute;
    top: 50%;
    left: 50%;
    right: 35rem;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);   

    row-gap: 5px;
    background-color: white;
    border-radius: 25px;

    font-family: 'Poppins';

    @media (max-width: 1100px) {
        width: 70vw;
        padding: 100px 0;
    }
    @media (max-width: 800px) {
        width: 90vw;
        padding: 100px 0;
    }

    img {
        width: 75px;
        margin-bottom: 20px;
    }

    .rowButton {
        display: flex;
        column-gap: 30px;
        margin-top: 10px;
        
        .cancel, .shutDown, .finishButton {
            font-family: 'Poppins', sans-serif;
            width: 150px;
            padding: 15px 20px;
            border: 0;
            border-radius: 5px;
            background-color: #E8E8E8;
            cursor: pointer;
            transition: .2s ease;
            font-weight: bold;
            font-size: .9rem;
            margin-top: 20px;
        
            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(0.95);
            }
        }

        .cancel {
            font-weight: 500;
        }
        
        .finishButton {
            color: #fff;
            background-color: #38B05A;
        }

        .shutDown {
            background-color: #F93944;
            color: white;
        }
    }

    @media (max-width: 650px) {
        h1 {
            font-size: 1.5rem;
        }
        
        p {
            font-size: .8rem;
        }

        img {
            width: 55px;
        }

        .rowButton {
            .cancel, .shutDown, .finishButton {
                font-size: .7rem;
            }
        }
    }

    @media (max-width: 475px) {
        
        width: 95vw;
        padding: 50px 0;

        p {
            max-width: 70%;
        }

        .rowButton {
            flex-direction: column;
            width: 100%;
            align-items: center;
            column-gap: 0px;

            .cancel, .shutDown, .finishButton {
                width: 80%;
                margin-top: 10px;
            }
        }
    }
}

.modalAgendamento{
        
    margin-bottom: -2rem;

    h2{
        
        font-family: 'Poppins', sans-serif;
        margin-top: -3rem;
        margin-bottom: 3rem;
    }
    .InputsBlock{
        display: flex;
        flex-direction: column;
        row-gap: 10px;
        justify-content: center;
        align-items: center;
        
        input{
            background-color: #cdd9e8;
            color: var(--contraste);
            border-radius: 5px;
            border: none;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 16px;
            width: 300px;
            height: 50px;
            padding: 24px 12px;
            text-align: center;
        }
        input:focus {
            outline: 2px solid var(--contraste);
        }
        input[type="datetime-local"]::-webkit-calendar-picker-indicator {
            // padding-right: 20px;
            // font-size: 20px;
            display: none;
        }
        label{
            font-weight: bold;
            font-size: 20px;
            width: 100px;
        }
        .days{
            
            display: flex;
            column-gap: 10px;
            padding: 10px 5px;
            align-items: center;
            
        }
        .addDay{
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 30px;
            color: var(--contraste);
            transition: .2s ease;
        }

        .addDay:hover{
            transform: scale(1.1);
        }
    }
    .buttonsBox{
        padding-top: 1rem;
        display: flex;
        
        .Cancel {
            color: white;
            border-radius: 5px;
            border: none;
            background-color: #F93944;
            width: 200px;
            height: 45px;
            margin-right: 5rem;
            cursor: pointer;
            font-family: 'Poppins';
            font-weight: bold;
            font-size: 16px;
            transition: .2s ease;
        }
        .Cancel:hover{
            background-color: #cc2d35;
            transform: scale(1.05);
        }
        .Cancel:active {
            transform: scale(0.95);
        }
        
        .Create {
            color: white;
            border-radius: 5px;
            border: none;
            width: 200px;
            height: 45px;
            background-color: var(--azul-ramo);
            margin-left: 2rem;
            cursor: pointer;
            font-family: 'Poppins';
            font-weight: bold;
            font-size: 16px;
            transition: .2s ease;
            } 
            .Create:hover{
            background-color: #1d5688;
            transform: scale(1.05);
        }
        .Create:active {
            transform: scale(0.95);
        }


    }
    @media (max-width: 600px) {
        h2{
            padding-top: 2rem;
            
        }
        .buttonsBox {
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          .Cancel{
            width: 150px;
            margin-right: 0.5rem;
          }
          .Create{
            width: 150px;
            margin-left: -2rem;
          }
        }


      }

}
.modal2 {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    // padding: 110px 200px;
    width: 678px;
    height: 511px;
    border-radius: 8px;

    position: absolute;
    top: 50%;
    left: 50%;
    right: 35rem;
    bottom: auto;
    margin-right: -50%;
    transform: translate(-50%, -50%);   

    row-gap: 5px;
    background-color: white;
    border-radius: 25px;

    font-family: 'Poppins';

    @media (max-width: 1100px) {
        width: 70vw;
        padding: 100px 0;
    }
    @media (max-width: 800px) {
        width: 90vw;
        padding: 100px 0;
    }

    img {
        width: 75px;
        margin-bottom: 20px;
    }

    .rowButton {
        display: flex;
        column-gap: 30px;
        margin-top: 10px;
        
        .cancel, .shutDown, .finishButton {
            font-family: 'Poppins', sans-serif;
            width: 150px;
            padding: 15px 20px;
            border: 0;
            border-radius: 5px;
            background-color: #E8E8E8;
            cursor: pointer;
            transition: .2s ease;
            font-weight: bold;
            font-size: .9rem;
            margin-top: 20px;
        
            &:hover {
                transform: scale(1.05);
            }

            &:active {
                transform: scale(0.95);
            }
        }

        .cancel {
            font-weight: 500;
        }
        
        .finishButton {
            color: #fff;
            background-color: #38B05A;
        }

        .shutDown {
            background-color: #F93944;
            color: white;
        }
    }

    @media (max-width: 650px) {
        h1 {
            font-size: 1.5rem;
        }
        
        p {
            font-size: .8rem;
        }

        img {
            width: 55px;
        }

        .rowButton {
            .cancel, .shutDown, .finishButton {
                font-size: .7rem;
            }
        }
    }

    @media (max-width: 475px) {
        
        width: 95vw;
        padding: 50px 0;

        p {
            max-width: 70%;
        }

        .rowButton {
            flex-direction: column;
            width: 100%;
            align-items: center;
            column-gap: 0px;

            .cancel, .shutDown, .finishButton {
                width: 80%;
                margin-top: 10px;
            }
        }
    }
}
.modalEdit{
        
    margin-bottom: -2rem;
    
    

    h2{
        
        font-family: 'Poppins', sans-serif;
        // margin-top: -3rem;
        
        margin-bottom: 6rem;
        margin-top:-6rem;
        font-size:32px;
    }
    .InputsBlock{
        display: flex;
        flex-direction: column;
        row-gap: 5px;
        justify-content: center;
        align-items: center;
        width:303px;
        height:156px;

        label{
            font-weight: bold;
            font-size: 20px;
            width:30%;
            margin-right: 15px;
        
         }
        
        
        input{
            background-color: #cdd9e8;
            color: var(--contraste);
            border-radius: 5px;
            border: none;
            font-family: 'Poppins', sans-serif;
            font-weight: bold;
            font-size: 15px;
            width:260px;
            height:29px;
            // padding: 24px 12px;
            text-align: center;
        }
        input:focus {
            outline: 2px solid var(--contraste);
        }
        input[type="datetime-local"]::-webkit-calendar-picker-indicator {
            // padding-right: 20px;
            // font-size: 20px;
            display: none;
        }
        
        .days{
            
            display: flex;
            column-gap: 5px;
            // padding: 5px 24px;
            padding: 10px 0;
            width:293px;
            align-items: center;

            
            
        }
        .addDay{
            background: none;
            border: none;
            outline: none;
            cursor: pointer;
            font-size: 30px;
            color: var(--contraste);
            transition: .2s ease;
        }

        .addDay:hover{
            transform: scale(1.1);
        }
    }
    .buttonsBox{
        padding-top: 3rem;
        display: flex;
        gap:15rem;
        
        .Cancel {
            color: white;
            border-radius: 5px;
            border: none;
            background-color: #F93944;
            width: 130px;
            height: 32px;
            // margin-right: 5rem;
            cursor: pointer;
            font-family: 'Poppins';
            font-weight: bold;
            font-size: 14px;
            transition: .2s ease;
        }
        .Cancel:hover{
            background-color: #cc2d35;
            transform: scale(1.05);
        }
        .Cancel:active {
            transform: scale(0.95);
        }
        
        .Create {
            color: white;
            border-radius: 5px;
            border: none;
            width: 130px;
            height: 32px;
            background-color: var(--azul-ramo);
            // margin-left: 2rem;
            cursor: pointer;
            font-family: 'Poppins';
            font-weight: bold;
            font-size: 14px;
            transition: .2s ease;
            } 
            .Create:hover{
            background-color: #1d5688;
            transform: scale(1.05);
        }
        .Create:active {
            transform: scale(0.95);
        }


    }
    @media (max-width: 600px) {
        h2{
            padding-top: 2rem;
            
        }
        .buttonsBox {
          flex-direction: row;
          align-items: center;
          justify-content: space-around;
          .Cancel{
            width: 150px;
            margin-right: 0.5rem;
          }
          .Create{
            width: 150px;
            margin-left: -2rem;
          }
        }


      }

}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
}