.cards{
    width: 300px;
    height: 325px;
    background-color: var(--contraste);
    border-radius: 30px;
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.5);
    margin: auto;
    margin-bottom: 20px;
    transition: background-color .7s ease;

    a{
        margin: 0;
        padding: 0;
        text-decoration: none;
        display: grid;
        height: 100%;
        grid-template-rows: [logo-start] auto [logo-end nome-start] auto [nome-end];

        img{
            max-width: 100%;
            max-height: 100%;
            grid-row: logo;
            display: inline;
            justify-self: center;
            margin: 2rem 0 0 0;
        }

        p{
            grid-row: nome;
            text-align: center;
            font-size: 36px;
            font-weight: 700;
            color: white;
        }
    }

}

.cards:hover{
    background-color: var(--logo_trasition);
    transition: background-color .7s ease;
}

.cards:first-child{
    background-color: var(--wie);
    transition: background-color .7s ease;
}

.cards:first-child:hover{
    background-color: var(--wie-trasition);
    transition: background-color .7s ease;
}

@media(max-width:1572px) {
    .cards{
        width: 250px;
        height: 270px;
    }
    .cards a img {
        max-width: 75%;
        max-height: auto;
    }
    .cards a p {
        font-size: 30px;
    }
}