.all {
    display: flex;
    font-family: 'Poppins';
    min-height: 100vh;
    background-color: var(--marketing-brackground);
    padding-bottom: 50px;
    overflow-y: auto;
    
    .pageContent {
        display: flex;
        margin-left: 300px;
        justify-content: center;

        width: 100%;

        @media (max-width: 950px) {
            padding-left: 30px;
        }

        .content {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            margin: 0 30px;
            width: 80%;
            min-width: 500px;
            row-gap: 40px;

            .description {

                display: flex;
                width: 400px;
                flex-direction: column;
                row-gap: 30px;

                span {
                    font-size: 1rem;
                    font-weight: 500;
                }

                .nameHolder {
                    display: flex;
                    flex-direction: column;

                    input {
                        margin: none;
                        border-radius: 5px;
                        border: 1px solid #CFCFCF;
                        margin-top: 10px;
                        padding: 13px;
                    }
                }

                .other {
                    display: flex;

                    column-gap: 40px;

                    .selects {
                        display: flex;
                        flex-direction: column;

                        select {
                            width: fit-content;
                            margin: none;
                            border-radius: 5px;
                            border: 1px solid #CFCFCF;
                            margin-top: 10px;
                            padding: 13px;
                        }
                    }

                }

            }

            .buttonRow {
                display: flex;
                column-gap: 30px;
                padding-bottom: 50px;

                .cancel, .edit {
                    padding: 15px 60px;
                    border: 0;
                    border-radius: 5px;
                    background-color: #D5E0EC;
                    color: #0D5FAA;
                    cursor: pointer;
                    transition: .2s ease;
                    font-weight: 600;
                    font-size: 0.8rem;
                  }

                  .cancel:hover, .edit:hover {
                    transform: scale(1.05);
                  }
          
                  .edit {
                    background-color: #0D5FAA;
                    color: white;
                  }
            }
        }
    }
}