
.prev, .next {
  color: white;
  cursor: pointer;

  img {
    width: 2rem;
    height: 2rem;
  }
}

.pprev, .pnext {
  cursor: pointer;
  margin: 0 30px;

  img {
    color: var(--azul-ramo);
    width: 2rem;
    height: 2rem;
  }
}

  