
.prev, .next {
  color: white;
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: 40%;
  img{
    width: 2rem;
    height: 2rem;
  }
}

.prev {
  left: 0%;
}
.next {
  right: 0%;
}


.pprev, .pnext {
  position: absolute;
  cursor: pointer;
  z-index: 10;
  top: 40%;
  img{
    color: var(--azul-ramo);
    width: 2rem;
    height: 2rem;
  }
}

.pprev {
  left: 0%;
}
.pnext {  
  right: 0%;
}

  